// Universal rules
*{
    list-style-type: none;
}

a:link {
    text-decoration: none;
}

body {
    font-family: Poppins,sans-serif;
}
section {
    margin-top: auto;
    width: min(90%, 70.5rem);
}

// body {
//     display: flex;
//     flex-direction: column;
//     grid-template-columns: 1;
//     grid-template-rows: 9;
//     justify-content: space-evenly;
// }