*{
    list-style-type: none;
}

a:link {
    text-decoration: none;
}




.main-body {
    display: flexbox;
    max-width: 80%;
    max-height: 100%;
    background-image: url(../Assets/asset_3.jpeg);
}

.slider-overlay {
    color:$white;
}

.sliderph {
    align-content: center;
}

.design-button:link, .design-button:visited {
    margin: 10px;
    padding: 5px;
    background-color: $fill-des-dev;
    color: $white;
    transition: 0.3s ease-out;
}

.design-button:hover {
    background-color: $fill-des-dev-dar;
}

.card {
    display: flexbox;
    border: 2px solid black;
    margin:3rem;
    color: $white;
}

.container {
    text-align: center;
}

.c-link:link, .c-link:visited{
    color:black;
}
.image {
    text-align: center;
}
