*{
    list-style-type: none;
}

a:link {
    text-decoration: none;
}


.culture {
    background-color: $background-color-primary;
    color: #ffffff;
}

// .culture p,
// .culture h2 {
//     margin:auto;
//     padding: auto;
// }

.but-cult {
    background-color: $white;
    padding: 3px;
    border-radius: 10%;
}

.culture a:link,
.culture a:visited {
    color: black;
}

footer {
    background-color: $background-color-primary;
    color: #ffffff;
}

footer a{
    color:#ffffff
}
footer a:visited {
    color: black;
}