// Footer rules
footer {
    background-color: $background-color-primary;
    color: #ffffff;
}

footer a{
    color:#ffffff
}
footer a:visited {
    color: black;
}


//footer button rules
.Sm-buttons {
    color: $white;
}

//opacity needs to be added without affecting the other elements
footer button{
    background-color:#000000;
    min-width: 203px;
    max-width: 334px;
    height: 55px;
    border: none;
}

footer i{
    color: $white;
    font-size: 30px;
    margin: 5px;
}

footer .fb:hover {
    background-color: $fb-blue;
}

footer .tw:hover {
    background-color: $tw-blue;
}

footer .in:hover {
    background-color: $in-blue;
}