// Header rules
.header {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}
.header > * {
    padding-left: 5px;
    padding-right: 5px;
}

// Support button rules
.support-button {
    display: flex;
}

.sup-but {
    font-size: 30px;
}

.sup-but:link,
.sup-but:visited {
    color: $color-primary;
}

.sup-but:hover {
    color: $header-button;
    border-bottom: 2px solid $header-button;
}

// Hamburger rules
.hamburger {
    display: flex;
}

.menu-button:link,
.menu-button:visited {
    color: $color-primary;
}

.menu-button:hover {
    color: $header-button;
    text-decoration: underline;    
}

// Search bar rules
.search {
    display: flex;
}
