.mob-nav {
    display: flexbox;
}

.sup-but {
    font-size: 30px;
}

.sup-but:link,
.sup-but:visited {
    color: $color-primary;
}

.sup-but:hover {
    color: $header-button;
    border-bottom: 2px solid $header-button;
}

.menu-button:link,
.menu-button:visited {
    color: $color-primary;
}

.menu-button:hover {
    color: $header-button;
    text-decoration: underline;    
}

