// The entire area rules
.slider-area {
    display: flex;
    background-image: url(../Assets/asset-3.jpeg);
    padding: 100px;
    background-repeat: no-repeat;
    text-align: center;
}

.slid-text {
    display: flex;
}

.slider-overlay {
    color:$white;
    text-align: center;
    display: flex;
}

// Design button styling
.design-button:link, .design-button:visited {
    margin: 10px;
    padding: 5px;
    background-color: $fill-des-dev;
    color: $white;
    transition: 0.3s ease-out;
}

.design-button:hover {
    background-color: $fill-des-dev-dar;
}