$color-primary: #333645;
$white: #ffffff;

$background-color-primary: #333645;
$background-color-footer: #dddddd;




$background-color-button: #4183d7;

$fill-des-dev: #926fb1;
$fill-telecoms: #d64541;
$fill-cyber: #f62459;
$fill-market: #2ecc71;
$fill-supp: #4183d7;
$fill-bespoke: #67809f;
$fill-des-dev-dar: #7E57A0