* {
  list-style-type: none;
  list-style-position: none;
  box-sizing: border-box;
  letter-spacing: 0.4px;
}

a:link {
  text-decoration: none;
}

body {
  font-family: Poppins, sans-serif;
}

.header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.header > * {
  padding-left: 5px;
  padding-right: 5px;
}

.topline {
  display: inline-flex;
}

.topline :nth-child(2) {
  margin-left: 20px;
}

.logo--cont img {
  max-height: auto;
  max-width: 100%;
}

.support-button {
  display: flex;
  align-items: center;
  text-align: center;
}

.sup-but {
  font-size: 25px;
}

.sup-but:link,
.sup-but:visited {
  color: #333645;
}

.sup-but:hover {
  color: #22242E;
  border-bottom: 2px solid #22242E;
}

.hamburger {
  display: flex;
  background-color: #333645;
  width: 63px;
  height: 56px;
  text-align: center;
  align-items: center;
  margin-left: 5px;
}

.menu-button:link,
.menu-button:visited {
  color: #333645;
}

.menu-button:hover {
  color: #22242E;
  text-decoration: underline;
}

.hamburger span {
  color: #ffffff;
}

.search {
  display: inline;
  width: 100%;
  height: auto;
}

.search.search--bar::after,
.search.search--button::after {
  content: "";
  clear: both;
  display: table;
}

.search--bar {
  display: flex;
  float: left;
  font-size: 14px;
  flex-grow: 1;
  background: #555555;
  border: 0;
  width: 90%;
  height: 23px;
  outline: none;
}

.search--button {
  font-size: 20px;
  border: none;
  float: left;
  background: #555555;
  color: #333645;
  cursor: pointer;
  height: 23px;
  width: 10%;
  text-align: right;
}

.slider--area {
  background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0)), url(../Assets/asset-3.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 883px;
  background-size: cover;
}

.slider--text {
  display: flex;
  grid-template-columns: 1;
  grid-template-rows: 3;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 883px;
}

.slider--overlay {
  color: #ffffff;
  text-align: center;
  display: block;
}

.slider--overlay h1 {
  font-size: 48px;
}

.slider--overlay p,
.slider--overlay a {
  font-size: 20px;
}

.design-button:link, .design-button:visited {
  margin: 10px;
  padding: 5px;
  background-color: #926fb1;
  color: #ffffff;
  transition: 0.3s ease-out;
  border-radius: 100vw;
}

.design-button:hover {
  background-color: #7E57A0;
}

.card:hover .ic__BS {
  color: #67809f;
  background-color: #ffffff;
}

.ic__BS {
  background-color: #67809f;
}

.card--BS:hover {
  background-color: #67809f;
}

.card:hover .cb__BS {
  background-color: #ffffff;
  color: #67809f;
}

.ic__BS {
  padding-top: none;
  padding-left: 11px;
  padding-right: 4px;
  padding-bottom: 6px;
}

.cb__BS {
  background-color: #67809f;
}

.card--IT:hover {
  background-color: #4183d7;
}

.ic__IT {
  background-color: #4183d7;
}

.card:hover .ic__IT {
  color: #4183d7;
  background-color: #ffffff;
}

.card:hover .cb__IT {
  background-color: #ffffff;
  color: #4183d7;
}

.ic__IT {
  padding-top: none;
  padding-left: 10px;
  padding-right: 4px;
  padding-bottom: 5px;
}

.cb__IT {
  background-color: #4183d7;
}

.card--DM:hover {
  background-color: #2ecc71;
}

.ic__DM {
  background-color: #2ecc71;
}

.card:hover .ic__DM {
  color: #2ecc71;
  background-color: #ffffff;
}

.card:hover .cb__DM {
  background-color: #ffffff;
  color: #2ecc71;
}

.ic__DM {
  padding-top: none;
  padding-left: 12px;
  padding-right: 4px;
  padding-bottom: 6px;
}

.cb__DM {
  background-color: #2ecc71;
}

.card--TS:hover {
  background-color: #d64541;
}

.ic__TS {
  background-color: #d64541;
}

.card:hover .ic__TS {
  color: #d64541;
  background-color: #ffffff;
}

.card:hover .cb__TS {
  background-color: #ffffff;
  color: #d64541;
}

.ic__TS {
  padding-top: none;
  padding-left: 12px;
  padding-right: 4px;
  padding-bottom: 5px;
}

.cb__TS {
  background-color: #d64541;
}

.card--WD:hover {
  background-color: #926fb1;
}

.ic__WD {
  background-color: #926fb1;
}

.card:hover .ic__WD {
  color: #926fb1;
  background-color: #ffffff;
}

.card:hover .cb__WD {
  background-color: #ffffff;
  color: #926fb1;
}

.ic__WD {
  padding-top: none;
  padding-left: 8px;
  padding-right: 4px;
  padding-bottom: 5px;
}

.cb__WD {
  background-color: #926fb1;
}

.card--CS:hover {
  background-color: #f62459;
}

.ic__CS {
  background-color: #f62459;
}

.card:hover .ic__CS {
  color: #f62459;
  background-color: #ffffff;
}

.card:hover .cb__CS {
  background-color: #ffffff;
  color: #f62459;
}

.ic__CS {
  padding-top: none;
  padding-left: 11px;
  padding-right: 4px;
  padding-bottom: 5px;
}

.cb__CS {
  background-color: #f62459;
}

.card--DT:hover {
  background-color: #926fb1;
}

.ic__DT {
  background-color: #926fb1;
}

.card:hover .ic__DT {
  color: #926fb1;
  background-color: #ffffff;
}

.card:hover .cb__DT {
  background-color: #ffffff;
  color: #926fb1;
}

.ic__DT {
  padding-top: none;
  padding-left: 8px;
  padding-right: 4px;
  padding-bottom: 5px;
}

.cb__DT {
  background-color: #926fb1;
}

.cards--section {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  padding: 0 -15px;
  width: 100%;
  height: auto;
  justify-content: space-evenly;
}

.card {
  display: flex;
  border: 1px solid #666666;
  align-items: center;
  margin-top: 30px;
  min-width: 453px;
  max-width: 720px;
  height: 290px;
  position: relative;
  text-align: center;
  justify-content: space-evenly;
  padding: 30px;
  flex-basis: 100%;
}

.card--txt p {
  min-width: 391px;
  max-width: 658px;
  height: auto;
  margin: 20px 30px 20px 30px;
}

.card a:visited,
.card a:link {
  color: black;
}

.card a.click-card {
  z-index: 1;
  display: block;
}

.card a::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: " ";
}

.card a:hover {
  color: #ffffff;
}

.icon {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-size: 30px;
  color: #ffffff;
}

.ci {
  align-self: center;
  fill: #ffffff;
  padding-top: 10px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 3px;
}

.card--txt p {
  font-size: 13px;
}

.card--txt h3 {
  font-size: 16px;
}

.card__button {
  line-height: 35px;
  color: #ffffff;
  border: none;
  outline: none;
}

@media screen and (max-width: 600px) {
  .card {
    width: 312px;
    padding: 30px;
  }

  .cards--section {
    flex-direction: column;
  }
}
@media screen and (min-width: 600px) {
  .card--TS,
.card--WD,
.card--CS,
.card--DT {
    height: 268px;
  }
}
@media screen and (min-width: 751px) {
  .card--TS,
.card--WD,
.card--CS,
.card--DT {
    width: 345px;
    height: 312px;
  }
}
@media screen and (min-width: 975px) {
  .cards--section {
    display: flex;
    flex-wrap: wrap;
    position: none;
  }

  .card--BS,
.card--IT,
.card--DM {
    width: 370px;
    height: 312px;
  }

  .card--TS,
.card--WD,
.card--CS,
.card--DT {
    width: 455px;
  }
}
@media screen and (min-width: 1243px) {
  .card--BS,
.card--IT,
.card--DM {
    width: 293px;
    height: 356px;
  }

  .card--TS,
.card--WD,
.card--CS,
.card--DT {
    width: 270px;
    height: 312px;
  }
}
.culture--container {
  max-height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: #333645;
  margin-top: 50px;
  text-align: center;
  -moz-columns: 1;
       columns: 1;
}

.culture {
  display: flex;
  text-align: left;
  color: #ffffff;
  padding: 10px;
  grid-template-columns: 1;
  grid-template-rows: 5;
  flex-wrap: wrap;
  padding-right: 70px;
  max-width: 1170px;
  height: auto;
  align-items: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.culture p {
  width: 100%;
  height: auto;
  margin-right: 40px;
}

.culture h2 {
  font-size: 36px;
  width: 100vw;
  height: auto;
}

.intro-paragraph {
  font-size: 16px;
}

.but-cult {
  background-color: #ffffff;
  padding: 3px;
  border-radius: 9%;
  margin-left: 10px;
  margin-bottom: 10px;
}

.but--cult {
  width: 100vw;
  height: auto;
}

.but-cult:hover {
  background-color: #EBEBEB;
}

.culture a:link,
.culture a:visited {
  color: black;
}

@media screen and (min-width: 751px) {
  .bg--image {
    background-image: url();
    background-repeat: no-repeat;
    background-size: 500px 500px;
  }
}
.latest__title {
  font-size: 20px;
  border-bottom: 2px solid black;
  width: 89px;
  height: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 24px;
}

.latest--title {
  display: flex;
}

.latest {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: auto;
}

.news-article {
  border: 1px solid black;
  margin-bottom: 20px;
  margin-left: 8px;
  margin-right: auto;
}

.news-article h3 {
  font-size: 16px;
}

.Read-more1,
.Read-more2,
.Read-more3 {
  font-size: 17px;
  line-height: 35px;
}

.user {
  border-top: 1px solid #CCCCCC;
  margin-top: 10px;
  font-size: 14px;
  line-height: 22px;
}

.art-head1:link,
.art-head1:visited {
  color: #67809f;
}

.art-head1:hover {
  text-decoration: underline;
}

.Read-more1:link,
.Read-more1:visited {
  margin: 10px;
  padding: 5px;
  background-color: #67809f;
  color: #ffffff;
}

.Read-more1:hover {
  background-color: #576C88;
}

.art-head2:link,
.art-head2:visited {
  color: #d64541;
}

.art-head2:hover {
  text-decoration: underline;
}

.Read-more2:link,
.Read-more2:visited {
  margin: 10px;
  padding: 5px;
  background-color: #d64541;
  color: #ffffff;
}

.Read-more2:hover {
  background-color: #C42E2A;
}

.art-head3:link,
.art-head3:visited {
  color: #4183d7;
}

.art-head3:hover {
  text-decoration: underline;
}

.Read-more3:link,
.Read-more3:visited {
  margin: 10px;
  padding: 5px;
  background-color: #4183d7;
  color: #ffffff;
}

.Read-more3:hover {
  background-color: #2A6EC6;
}

@media screen and (min-width: 751px) {
  .n--a3 {
    display: none;
  }
}
@media screen and (min-width: 1243px) {
  .n--a3 {
    display: unset;
  }
}
.Newsletter {
  background-color: #dddddd;
  width: 100%;
  height: auto;
}

.row--n {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  padding: 30px;
}

.Newsletter h2 {
  font-size: 32px;
}

.Newsletter > * {
  margin: 10px 3px;
}

.NewsTitle {
  display: inline-flex;
  width: 100%;
  height: auto;
}

.entry label,
.entry input {
  display: block;
  width: 45vw;
  height: auto;
}

label.required:after {
  color: red;
  content: " *";
}

.entry {
  float: left;
}

.entry > * {
  display: flex;
  margin: 0 5px 0 0;
}

.Privacy:link,
.Privacy:visited {
  color: #22242E;
  text-decoration: underline;
}

.Privacy:hover {
  color: #121419;
}

.sub-button {
  color: #ffffff;
  background-color: #22242E;
  padding: 10px;
  border: none;
  border-radius: 8%;
}

.sub-button:hover {
  background-color: #121419;
  color: #ffffff;
}

.row--n input {
  border: none;
}

.row--n input:focus {
  box-shadow: #5bbfde 0 0 8px 0;
  border: none;
  outline: none;
}

.entry input {
  min-width: 376px;
  height: 47px;
}

footer {
  background-color: #333645;
  font-size: 13px;
  width: 100%;
  height: auto;
  justify-content: center;
}

.row--f {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  justify-content: space-evenly;
  height: auto;
}

footer h3 {
  font-size: 16px;
}

.column {
  flex: 25%;
  padding-left: 10px;
}

footer a {
  color: #ffffff;
  line-height: 22px;
}

footer a:visited {
  color: black;
}

footer ul {
  align-content: left;
  align-items: left;
  text-align: left;
  padding: 0;
  margin: 0;
}

footer li {
  line-height: 22px;
}

footer button {
  background-color: #000000;
  min-width: 203px;
  max-width: 334px;
  height: 55px;
  border: none;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 15px;
}

footer i {
  color: #ffffff;
  font-size: 30px;
  margin: 5px;
}

.fb:hover {
  background-color: #3B5998;
}

.tw:hover {
  background-color: #00ACED;
}

.in:hover {
  background-color: #0077B5;
}

.sta:hover {
  background-color: #d93175;
}

@media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
}
@media screen and (max-width: 600px) {
  .row--f {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */