/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, body, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* /CSS reset */
* {
  list-style-type: none;
  list-style-position: none;
  box-sizing: border-box;
  letter-spacing: 0.4px;
  font-family: "Poppins", sans-serif;
  line-height: 1.375rem;
}

a:link {
  text-decoration: none;
}

button {
  border-radius: 3px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

header {
  width: 100%;
}

.header {
  display: flex;
  flex-wrap: wrap;
}

.header > * {
  padding-left: 5px;
  padding-right: 5px;
  margin: auto;
}

.topline {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.header-line {
  display: none;
  padding-left: 20px;
  padding-top: 7px;
}

.small-menu {
  padding: 0 15px;
  height: 128px;
}

.small-menu-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.small-menu-top-buttons {
  display: flex;
  align-items: center;
}

.large-menu {
  display: none;
  justify-content: space-between;
  width: 750px;
}

.logo-link {
  display: inline-flex;
  max-width: 402px;
}

.logo {
  flex-shrink: 1;
  max-width: 100%;
}

.logo-larger {
  display: none;
}

.support-button-sm {
  display: flex;
  align-items: center;
  text-align: center;
}

.sup-but-sm {
  font-size: 25px;
  padding-left: 20px;
}

.sup-but-sm:link,
.sup-but-sm:visited {
  color: #333645;
}

.sup-but-sm:hover {
  color: #22242E;
  border-bottom: 2px solid #22242E;
}

.hamburger--sm,
.hamburger--more {
  display: inline-flex;
  background-color: #333645;
  width: 63px;
  height: 56px;
  text-align: left;
  align-content: center;
  margin-left: 5px;
  flex-direction: column;
  border-radius: 3px;
  padding: 5px 15px;
  cursor: pointer;
}

.menu-line {
  display: block;
  width: 33px;
  height: 3px;
  content: "";
  background-color: #ffffff;
  margin: 5px 0 0px;
}

.menu__word {
  margin: 10px 0 0;
  color: #ffffff;
  line-height: 1;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.hamburger--sm {
  margin-left: 20px;
}

.hamburger--more {
  display: none;
  margin: 7px 0 7px 20px;
}

.menu-button:link,
.menu-button:visited {
  color: #333645;
}

.menu-button:hover {
  color: #22242E;
  text-decoration: underline;
}

.header-line {
  width: 375px;
  height: 70px;
}

.search-sm {
  display: inline;
  width: 100%;
  height: auto;
}

.search-form-small {
  border: 2px solid #CECECE;
  border-radius: 3px;
  float: left;
  width: 100%;
  align-content: center;
  justify-content: space-around;
  margin-top: 11px;
}

.search--bar-sm {
  display: flex;
  float: left;
  font-size: 14px;
  flex-grow: 1;
  border: 0;
  width: 90%;
  height: 23px;
  outline: none;
  cursor: pointer;
  background-color: rgba(85, 85, 85, 0.1);
  height: 47px;
}

.search--button-sm {
  font-size: 20px;
  border: none;
  float: left;
  background: rgba(85, 85, 85, 0.1);
  color: #333645;
  cursor: pointer;
  height: 23px;
  width: 10%;
  text-align: right;
  border-radius: 0;
  height: 47px;
  padding: 0 12px 0 0;
}

.search-sm.search--bar-sm::after,
.search-sm.search--button-sm::after {
  content: "";
  clear: both;
  display: table;
}

.search--bar-med {
  display: flex;
  float: left;
  border: 1px #ccc solid;
  border-right: none;
  width: 174px;
  height: 56px;
  outline: none;
  margin-right: -1px;
  padding: 5px 15px;
}

.search--bar-med::-moz-placeholder {
  color: #c5c5c5;
}

.search--bar-med:-ms-input-placeholder {
  color: #c5c5c5;
}

.search--bar-med::placeholder {
  color: #c5c5c5;
}

.search--bar-med:focus {
  border: #5BC0DE 1px solid;
  box-shadow: 0px 0px 4px #5BC0DE;
}

.search--button-med {
  background: #999aa2;
  border: none;
  border-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  outline: none;
  color: #ffffff;
  float: left;
  padding: none;
  margin: none;
  margin-top: 0px;
  font-size: 23px;
  line-height: 24px;
  width: 63px;
  height: 56px;
  cursor: pointer;
}

.search--button-med:hover {
  background-color: #84858f;
}

.search-med {
  display: none;
  margin: auto;
  margin: 0px 0px 0 20px;
  align-items: center;
}

.search--lrg {
  width: 63px;
  height: 56px;
  background-color: #999aa2;
  color: #ffffff;
  border: none;
  cursor: pointer;
  text-align: center;
  align-self: center;
  margin-left: 20px;
  font-size: 23px;
  padding: 15px 20px;
  display: none;
}

.search--lrg:hover {
  background-color: #84858f;
}

.support--lrg {
  background-color: #4183d7;
  color: #ffffff;
  border: none;
  width: 136px;
  height: 56px;
  border-radius: 3px;
  cursor: pointer;
  display: none;
  text-align: center;
  align-self: center;
  padding: 17.5px 20px;
  margin-left: 30px;
}
.support--lrg i {
  font-size: 23px;
  margin-right: 3px;
}

.contact--lrg {
  background-color: #999aa2;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  width: 144px;
  height: 56px;
  cursor: pointer;
  display: none;
  text-align: center;
  align-self: center;
  padding: 17.5px 20px;
  margin-left: 20px;
}
.contact--lrg i {
  font-size: 23px;
  margin-right: 3px;
}

.support--lrg:hover {
  background-color: #2a6ec6;
}

.contact--lrg:hover {
  background-color: #84858f;
}

@media screen and (min-width: 768px) {
  .search-form-small {
    display: none;
    padding-bottom: 50px;
  }

  .support-button-sm {
    display: none;
    margin: auto auto 50px;
  }

  .search-med {
    display: inline-flex;
  }

  .sup-but-sm,
.hamburger--sm {
    display: none;
  }

  .hamburger--more {
    display: inline-flex;
    margin: 7px 0 7px 20px;
  }

  form {
    display: inline-flex;
    padding-top: 7px;
  }

  .small-menu {
    display: none;
  }

  .logo-larger {
    display: inline-flex;
  }

  .large-menu {
    display: flex;
  }

  .topline {
    justify-content: center;
  }
}
@media screen and (min-width: 992px) {
  .search-med {
    display: none;
  }

  .large-menu {
    width: 940px;
  }

  .support--lrg,
.contact--lrg,
.search--lrg {
    display: inline-flex;
    cursor: pointer;
  }

  .logo-larger {
    width: 374px;
    height: 70px;
  }
}
@media screen and (min-width: 1260px) {
  .search-med {
    display: inline-flex;
  }

  .large-menu {
    width: 1200px;
    padding: 0 15px;
  }

  .logo-larger {
    margin-right: 109px;
  }

  .contact-lrg,
.support-lrg {
    display: inline-flex;
  }

  .search--lrg {
    display: none;
  }

  .search--bar-med {
    width: 240px;
  }
}
.navbar {
  width: 100%;
  background-color: #333645;
  position: relative;
  display: none;
}

.navbar-container {
  width: 970px;
  height: 99px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  text-transform: uppercase;
}
.navbar-container a {
  color: #ffffff;
}
.navbar-container li {
  width: 156px;
  height: 99px;
  float: left;
  align-content: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}
.navbar-container i {
  font-size: 23px;
  margin-top: 7px;
}
.navbar-container span {
  width: 100%;
  display: block;
}

.navbar-main {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.web i {
  color: #926fb1;
  width: 100%;
}

.IT i {
  color: #4183d7;
}

.telecoms i {
  color: #d64541;
}

.bespoke i {
  color: #67809f;
}

.digital i {
  color: #2ecc71;
}

.cyber i {
  color: #f62459;
}

.small {
  font-size: 10px;
  text-align: center;
}

.large {
  font-size: 16px;
}

.menu-web,
.menu-it,
.menu-telecoms,
.menu-bespoke,
.menu-marketing,
.menu-cyber {
  left: 50%;
  transform: translateX(-50%);
}
.menu-web li,
.menu-it li,
.menu-telecoms li,
.menu-bespoke li,
.menu-marketing li,
.menu-cyber li {
  border: none;
}

.menu {
  color: #ffffff;
  visibility: hidden;
  display: flex;
  position: absolute;
  height: 45px;
  z-index: 2;
  bottom: -45px;
  font-size: 0.8125rem;
  text-align: left;
  width: 970px;
  padding: 0 0 0 17px;
}

.menu li {
  width: auto;
  font-size: 13px;
  line-height: 45px;
}

.menu li:not(:first-child) {
  padding: 0 0 0 20px;
}

.menu li::after {
  content: "-";
  padding: 0 0 0 20px;
  font-size: 13px;
  line-height: 45px;
}

.menu li:last-child::after {
  display: none;
}

.empty-div {
  content: "";
  width: 100%;
  height: 45px;
  visibility: hidden;
  position: absolute;
  height: 45px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  bottom: -45px;
}

.web:hover {
  background-color: #926fb1;
}
.web:hover i {
  color: #ffffff;
}
.web:hover .menu-web {
  visibility: visible;
}
.web:hover .empty-div {
  visibility: visible;
  bottom: -45px;
  background: #926fb1;
}

.IT:hover {
  background-color: #4183d7;
}
.IT:hover i {
  color: #ffffff;
}
.IT:hover .menu-it {
  visibility: visible;
}
.IT:hover .empty-div {
  visibility: visible;
  bottom: -45px;
  background: #4183d7;
}

.telecoms:hover {
  background-color: #d64541;
}
.telecoms:hover i {
  color: #ffffff;
}
.telecoms:hover .menu-telecoms {
  visibility: visible;
}
.telecoms:hover .empty-div {
  visibility: visible;
  bottom: -45px;
  background: #d64541;
}

.bespoke:hover {
  background-color: #67809f;
}
.bespoke:hover i {
  color: #ffffff;
}
.bespoke:hover .menu-bespoke {
  visibility: visible;
}
.bespoke:hover .empty-div {
  visibility: visible;
  bottom: -45px;
  background: #67809f;
}

.digital:hover {
  background-color: #2ecc71;
}
.digital:hover i {
  color: #ffffff;
}
.digital:hover .menu-marketing {
  visibility: visible;
}
.digital:hover .empty-div {
  visibility: visible;
  bottom: -45px;
  background: #2ecc71;
}

.cyber:hover {
  background-color: #f62459;
}
.cyber:hover i {
  color: #ffffff;
}
.cyber:hover .menu-cyber {
  visibility: visible;
}
.cyber:hover .empty-div {
  visibility: visible;
  bottom: -45px;
  background: #f62459;
}

@media screen and (min-width: 992px) {
  .navbar {
    display: flex;
  }
}
@media screen and (min-width: 1260px) {
  .navbar-container {
    width: 1200px;
  }
  .navbar-container li {
    width: 195px;
  }

  .menu {
    width: 1200px;
  }
  .menu li {
    width: auto;
    font-size: 16px;
  }

  .menu li:not(:first-child) {
    padding: 0 0 0 30px;
  }

  .menu li::after {
    padding: 0 0 0 30px;
    font-size: 16px;
  }
}
.slider--area {
  background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0)), url(../Assets/asset-3.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 883px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider--text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 883px;
  flex-direction: column;
}

.slider_text {
  color: #ffffff;
  text-align: center;
}
.slider_text h1 {
  margin-bottom: 25px;
  font-size: 48px;
  line-height: 39px;
}
.slider_text p {
  margin-bottom: 35px;
  min-width: 170px;
  font-size: 20px;
  line-height: 36px;
}

.design-button {
  margin-top: 10px;
  padding: 5px 20px;
  background-color: #926fb1;
  color: #ffffff;
  transition: 0.3s ease-out;
  border-radius: 3px;
  border: none;
  font-size: 20px;
  line-height: 50px;
  text-transform: uppercase;
  justify-self: left;
}

.design-button:hover {
  background-color: #7E57A0;
}

@media screen and (min-width: 992px) {
  .slider_text {
    align-content: left;
    text-align: left;
    width: 970px;
  }
  .slider_text p {
    width: 377px;
  }

  .design-button {
    justify-content: center;
    text-align: left;
  }

  .slider_text {
    padding-left: 15px;
  }

  .design-button {
    margin-left: -703px;
  }
}
@media screen and (min-width: 1260px) {
  .slider_text {
    width: 1200px;
    padding-left: 15px;
  }

  .design-button {
    margin-left: -932px;
  }
}
.card:hover .card--txt h3::after {
  background-color: #ffffff;
}

.card:hover .ic__BS {
  color: #67809f;
  background-color: #ffffff;
}

.ic__BS {
  background-color: #67809f;
}

.card--BS:hover {
  background-color: #67809f;
}

.card:hover .cb__BS {
  background-color: #ffffff;
  color: #67809f;
}

.ic__BS {
  padding-top: none;
  padding-left: 11px;
  padding-right: 4px;
  padding-bottom: 6px;
}

.cb__BS {
  background-color: #67809f;
}

.card--IT:hover {
  background-color: #4183d7;
}

.ic__IT {
  background-color: #4183d7;
}

.card:hover .ic__IT {
  color: #4183d7;
  background-color: #ffffff;
}

.card:hover .cb__IT {
  background-color: #ffffff;
  color: #4183d7;
}

.ic__IT {
  padding-top: none;
  padding-left: 10px;
  padding-right: 4px;
  padding-bottom: 5px;
}

.cb__IT {
  background-color: #4183d7;
}

.card--DM:hover {
  background-color: #2ecc71;
}

.ic__DM {
  background-color: #2ecc71;
}

.card:hover .ic__DM {
  color: #2ecc71;
  background-color: #ffffff;
}

.card:hover .cb__DM {
  background-color: #ffffff;
  color: #2ecc71;
}

.ic__DM {
  padding-top: none;
  padding-left: 12px;
  padding-right: 4px;
  padding-bottom: 6px;
}

.cb__DM {
  background-color: #2ecc71;
}

.card--TS:hover {
  background-color: #d64541;
}

.ic__TS {
  background-color: #d64541;
}

.card:hover .ic__TS {
  color: #d64541;
  background-color: #ffffff;
}

.card:hover .cb__TS {
  background-color: #ffffff;
  color: #d64541;
}

.ic__TS {
  padding-top: none;
  padding-left: 12px;
  padding-right: 4px;
  padding-bottom: 5px;
}

.cb__TS {
  background-color: #d64541;
}

.card--WD:hover {
  background-color: #926fb1;
}

.ic__WD {
  background-color: #926fb1;
}

.card:hover .ic__WD {
  color: #926fb1;
  background-color: #ffffff;
}

.card:hover .cb__WD {
  background-color: #ffffff;
  color: #926fb1;
}

.ic__WD {
  padding-top: none;
  padding-left: 8px;
  padding-right: 4px;
  padding-bottom: 5px;
}

.cb__WD {
  background-color: #926fb1;
}

.card--CS:hover {
  background-color: #f62459;
}

.ic__CS {
  background-color: #f62459;
}

.card:hover .ic__CS {
  color: #f62459;
  background-color: #ffffff;
}

.card:hover .cb__CS {
  background-color: #ffffff;
  color: #f62459;
}

.ic__CS {
  padding-top: none;
  padding-left: 11px;
  padding-right: 4px;
  padding-bottom: 5px;
}

.cb__CS {
  background-color: #f62459;
}

.card--DT:hover {
  background-color: #926fb1;
}

.ic__DT {
  background-color: #926fb1;
}

.card:hover .ic__DT {
  color: #926fb1;
  background-color: #ffffff;
}

.card:hover .cb__DT {
  background-color: #ffffff;
  color: #926fb1;
}

.ic__DT {
  padding-top: none;
  padding-left: 8px;
  padding-right: 4px;
  padding-bottom: 5px;
}

.cb__DT {
  background-color: #926fb1;
}

.cards-div {
  width: 100%;
  height: auto;
  padding: 20px 15px 0;
}

.cards--section {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 3px;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  position: relative;
  text-align: center;
  padding: 30px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

.card--txt p {
  width: 80%;
  height: auto;
  margin: 20px 30px 20px 30px;
  flex-basis: 100%;
  font-size: 13px;
  line-height: 22px;
}

.card--txt h3 {
  font-size: 16px;
}

.card--txt h3::after {
  content: "";
  width: 28px;
  height: 3px;
  background-color: black;
  display: block;
  margin: auto;
  margin-top: 10px;
}

.card--txt {
  justify-content: center;
}

.card a:visited,
.card a:link {
  color: black;
}

.card a.click-card {
  z-index: 1;
  display: block;
}

.card a::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: " ";
}

.card a:hover {
  color: #ffffff;
}

.icon {
  display: flex;
  margin-top: auto;
  margin-bottom: 17px;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-size: 30px;
  color: #ffffff;
}

.ci {
  align-self: center;
  fill: #ffffff;
  padding-top: 10px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 3px;
}

.card__button {
  line-height: 35px;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 5px 15px;
  width: 140px;
  margin: auto;
  border-radius: 3px;
}

@media screen and (max-width: 425px) {
  .cards--section {
    flex-direction: column;
  }
}
@media screen and (min-width: 600px) {
  .cards--section {
    flex-direction: none;
  }

  .card {
    width: 100%;
  }

  .card--TS {
    padding: 30px 110px;
  }

  .card--WD {
    padding: 30px 100px;
  }

  .card--CS {
    padding: 30px 115px;
  }

  .card--DT {
    padding: 30px 90px;
  }
}
@media screen and (min-width: 768px) {
  .cards--section {
    width: 750px;
    height: auto;
    margin: auto;
  }

  .card--BS,
.card--IT,
.card--DM {
    width: 720px;
    margin: 30px 15px 0;
  }

  .card--TS,
.card--WD,
.card--CS,
.card--DT {
    width: 345px;
    margin: 30px 15px 0;
    padding: 30px;
  }
}
@media screen and (min-width: 992px) {
  .cards--section {
    display: flex;
    flex-wrap: wrap;
    width: 970px;
    height: auto;
    flex-direction: row;
  }

  .card--BS,
.card--IT,
.card--DM {
    width: 293.33px;
    margin: 30px 15px 0;
  }

  .card--TS,
.card--WD,
.card--CS,
.card--DT {
    width: 455px;
  }
}
@media screen and (min-width: 1260px) {
  .cards--section {
    width: 1200px;
    height: auto;
    flex-direction: row;
    margin: auto;
  }

  .card--BS,
.card--IT,
.card--DM {
    width: 370px;
    margin: 30px 15px 0;
  }

  .card--TS,
.card--WD,
.card--CS,
.card--DT {
    width: 270px;
  }
}
.culture-section {
  width: 100%;
  background: #333645;
  margin-top: 50px;
  display: flex;
}

.culture--container {
  max-height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
  -moz-columns: 1;
       columns: 1;
  padding: 50px 0;
}

.culture {
  display: flex;
  text-align: left;
  color: #ffffff;
  padding: 10px;
  grid-template-columns: 1;
  grid-template-rows: 5;
  flex-wrap: wrap;
  padding-right: 70px;
  width: 100%;
  height: auto;
  align-items: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.culture p {
  width: 100%;
  height: auto;
  margin-right: 40px;
  font-size: 16px;
  margin-bottom: 25px;
  padding: 0 0 0 6px;
  line-height: 30px;
}

.culture h1 {
  font-size: 2.25rem;
  width: 100%;
  height: auto;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
  padding: 0 0 0 6px;
  line-height: 39px;
}

.intro-paragraph {
  font-size: 16px;
}

.but-cult {
  background-color: #ffffff;
  margin-left: 8px;
  margin-bottom: 10px;
  border: none;
  font-weight: 400;
  font-size: 1.063rem;
  padding: 5px 5px 5px 5px;
  width: 173px;
  height: 47px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.but--cult {
  width: 100vw;
  height: auto;
}

.but-cult:hover {
  background-color: #EBEBEB;
}

.culture a:link,
.culture a:visited {
  color: black;
}

@media screen and (min-width: 768px) {
  .culture {
    height: 399px;
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .culture-section {
    background: url(../Assets/about.png) #333645;
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%;
  }

  .culture {
    width: 970px;
    height: 393px;
  }
}
@media screen and (min-width: 1260px) {
  .culture--container {
    width: 1200px;
    margin: auto;
    flex-direction: row;
  }

  .culture {
    width: 598px;
    height: 453px;
    margin: 0;
  }

  .empty-child {
    width: 598px;
    height: 453px;
    content: "";
  }
}
.Bar {
  width: 100%;
  height: 104px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}

.latest--title {
  display: flex;
  width: 710px;
  height: 104px;
  margin: auto;
}

.latest__title {
  font-size: 20px;
  border-bottom: 4px solid black;
  width: 89px;
  height: 105px;
  margin: 0px 0 0px 15px;
  line-height: 24px;
  font-weight: 600;
  padding: 40px 0 0;
}

.latest {
  width: 100%;
  height: auto;
}

.latest--container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 50px 0;
}

.news-article {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 20px 15px;
}
.news-article h3 {
  font-size: 16px;
  height: 48px;
  margin: 0 0 15px;
}
.news-article p {
  height: 66px;
  margin: 0 0 25px;
  font-size: 13px;
}

.news-img-banner {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 5;
  padding: 0 10px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 23px;
}

.news-img-banner:hover {
  text-decoration: underline;
}

.banner-1 {
  background-color: #67809f;
}

.banner-2 {
  background-color: #d64541;
}

.banner-3 {
  background-color: #4183d7;
}

.block {
  padding: 30px;
  box-shadow: 0 45px 35px -35px rgba(0, 0, 0, 0.1);
  height: auto;
}

.news-article,
.news-article img {
  width: 100%;
}

.main-img {
  overflow: hidden;
  max-height: 390px;
  position: relative;
}

.article-header-all {
  font-weight: 600;
  line-height: 24px;
}

.read-more-all {
  font-size: 17px;
  line-height: 35px;
  border-radius: 3px;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
}

.user {
  border-top: 1px solid #CCCCCC;
  margin: 30px 0px 0 0px;
  padding: 30px 0 0 0;
  font-size: 14px;
  line-height: 22px;
  display: flex;
}
.user p {
  margin: 0;
  height: auto;
}

.details {
  height: 47px;
  justify-content: space-between;
  padding-left: 20px;
}
.details .user-name {
  padding: 0 0 10px 0;
}

.art-head1:link,
.art-head1:visited {
  color: #67809f;
}

.art-head1:hover {
  text-decoration: underline;
}

.Read-more1:link,
.Read-more1:visited {
  background-color: #67809f;
  color: #ffffff;
}

.Read-more1:hover {
  background-color: #576C88;
}

.art-head2:link,
.art-head2:visited {
  color: #d64541;
}

.art-head2:hover {
  text-decoration: underline;
}

.Read-more2:link,
.Read-more2:visited {
  background-color: #d64541;
  color: #ffffff;
}

.Read-more2:hover {
  background-color: #C42E2A;
}

.art-head3:link,
.art-head3:visited {
  color: #4183d7;
}

.art-head3:hover {
  text-decoration: underline;
}

.Read-more3:link,
.Read-more3:visited {
  background-color: #4183d7;
  color: #ffffff;
}

.Read-more3:hover {
  background-color: #2A6EC6;
}

@media screen and (max-width: 768px) {
  .news-article h3 {
    height: 24px;
  }
  .news-article p {
    height: 44px;
  }
}
@media screen and (min-width: 768px) {
  .latest--title {
    width: 720px;
  }

  .latest__title {
    margin: 0px 0 0px;
  }

  .latest--container {
    justify-content: center;
  }

  .news-article,
.main-img {
    width: 345px;
  }

  .news-article {
    height: 569px;
  }

  .main-img {
    height: 199px;
  }

  .main-img:hover img {
    opacity: 0.8;
    transform: scale(1.05);
    transition: transform 0.25s;
  }

  .n--a3 {
    display: none;
  }

  .latest {
    box-shadow: 0 35px 35px -25px rgba(0, 0, 0, 0.1);
  }

  .block {
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0);
  }

  .block--1 {
    box-shadow: 25px 0 15px -15px rgba(0, 0, 0, 0.1);
  }

  .block--2 {
    box-shadow: -25px 0 15px -15px rgba(0, 0, 0, 0.1);
  }
}
@media screen and (min-width: 992px) {
  .latest--title {
    width: 940px;
  }

  .latest--container {
    width: 970px;
    margin: auto;
  }

  .news-article,
.main-img {
    width: 455px;
  }

  .news-article {
    height: 636px;
  }

  .main-img {
    height: 263px;
  }

  .block {
    height: 370px;
  }
}
@media screen and (min-width: 1260px) {
  .latest {
    padding-bottom: 130px;
  }

  .latest--title {
    width: 1170px;
  }

  .latest--container {
    width: 1200px;
    height: 583px;
    margin: auto;
  }

  .n--a3 {
    display: block;
  }

  .news-article,
.main-img {
    width: 370px;
  }

  .news-article {
    height: 583px;
  }

  .main-img {
    height: 213px;
  }

  .block--2 {
    box-shadow: 25px 0 15px -15px rgba(0, 0, 0, 0.1), -25px 0 15px -15px rgba(0, 0, 0, 0.1);
  }

  .block--3 {
    box-shadow: -25px 0 15px -15px rgba(0, 0, 0, 0.1);
  }
}
.user img {
  width: 47px;
  height: 47px;
  border-radius: 100%;
}

.clients {
  display: none;
  width: 100%;
  padding: 50px 0;
  height: 140px;
}

.client-area {
  display: flex;
  width: 750px;
  margin: auto;
  justify-content: space-evenly;
}

.client-area h3 {
  font-size: 1.125rem;
  position: relative;
  padding-bottom: 15px;
}

.client-area h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 28px;
  height: 3px;
  display: block;
  background-color: #fff;
}

.client-area p {
  font-size: 0.8125rem;
  text-align: center;
  width: 230px;
}

.cl--1 .tooltiptext_1 {
  visibility: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 260px;
  background: #333645;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -130px;
}
.cl--1 .tooltiptext_1 p {
  margin-top: 10px;
}

.cl--1 .tooltiptext_1::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -30px;
  border-width: 30px;
  border-style: solid;
  border-color: #333645 transparent transparent transparent;
}

.cl--1:hover .tooltiptext_1 {
  visibility: visible;
}

.cl--2 .tooltiptext_2 {
  visibility: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 260px;
  background: #333645;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -130px;
}
.cl--2 .tooltiptext_2 p {
  margin-top: 10px;
}

.cl--2 .tooltiptext_2::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -30px;
  border-width: 30px;
  border-style: solid;
  border-color: #333645 transparent transparent transparent;
}

.cl--2:hover .tooltiptext_2 {
  visibility: visible;
}

.cl--3 .tooltiptext_3 {
  visibility: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 260px;
  background: #333645;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -130px;
}
.cl--3 .tooltiptext_3 p {
  margin-top: 10px;
}

.cl--3 .tooltiptext_3::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -30px;
  border-width: 30px;
  border-style: solid;
  border-color: #333645 transparent transparent transparent;
}

.cl--3:hover .tooltiptext_3 {
  visibility: visible;
}

.cl--4 .tooltiptext_4 {
  visibility: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 260px;
  background: #333645;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -130px;
}
.cl--4 .tooltiptext_4 p {
  margin-top: 10px;
}

.cl--4 .tooltiptext_4::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -30px;
  border-width: 30px;
  border-style: solid;
  border-color: #333645 transparent transparent transparent;
}

.cl--4:hover .tooltiptext_4 {
  visibility: visible;
}

.cl-img-container1 {
  width: 161px;
}

.cl-img-container2 {
  width: 225px;
}

.cl-img-container3 {
  width: 86px;
}

.cl-img-container4 {
  width: 248px;
}

.cl-img-container1,
.cl-img-container2,
.cl-img-container3,
.cl-img-container4 {
  height: 45px;
  padding: 0 20px;
}

.cl--1 {
  background-image: url(../Assets/asset_14.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 121px;
  position: relative;
}

.cl--1:hover {
  background-image: url(../Assets/asset_13.png);
}

.cl--2 {
  background-image: url(../Assets/asset_16.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 185px;
  position: relative;
}

.cl--2:hover {
  background-image: url(../Assets/asset_15.png);
}

.cl--3 {
  background-image: url(../Assets/asset_18.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 46px;
  position: relative;
}

.cl--3:hover {
  background-image: url(../Assets/asset_17.png);
}

.cl--4 {
  background-image: url(../Assets/asset_20.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 208px;
  position: relative;
}

.cl--4:hover {
  background-image: url(../Assets/asset_19.png);
}

.cl--1,
.cl--2,
.cl--3,
.cl--4 {
  height: inherit;
}

@media screen and (min-width: 768px) {
  .clients {
    display: unset;
    display: flex;
  }
}
@media screen and (min-width: 992px) {
  .clients {
    height: 163px;
  }

  .client-area {
    width: 970px;
  }

  .cl-img-container1 {
    width: 209px;
  }

  .cl-img-container2 {
    width: 298px;
  }

  .cl-img-container3 {
    width: 105px;
  }

  .cl-img-container4 {
    width: 329px;
  }

  .cl-img-container1,
.cl-img-container2,
.cl-img-container3,
.cl-img-container4 {
    height: 63px;
  }

  .cl--1 {
    width: 169px;
  }

  .cl--2 {
    width: 258px;
  }

  .cl--3 {
    width: 64px;
  }

  .cl--4 {
    width: 289px;
  }
}
@media screen and (min-width: 1260px) {
  .clients {
    height: 170px;
  }

  .client-area {
    width: 1200px;
  }

  .cl-img-container1 {
    width: 263px;
  }

  .cl-img-container2 {
    width: 362px;
  }

  .cl-img-container3 {
    width: 147px;
  }

  .cl-img-container4 {
    width: 397px;
  }

  .cl-img-container1,
.cl-img-container2,
.cl-img-container3,
.cl-img-container4 {
    height: 70px;
  }

  .cl--1 {
    width: 188px;
  }

  .cl--2 {
    width: 287px;
  }

  .cl--3 {
    width: 72px;
  }

  .cl--4 {
    width: 322px;
  }
}
.Newsletter {
  background-color: #dddddd;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.row--n {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  padding: 30px;
  margin: auto;
}

.Newsletter h2 {
  font-size: 32px;
  line-height: 35px;
  margin: 0 0 15px;
}

.Newsletter > * {
  margin: 10px 3px;
}

.NewsTitle {
  display: inline-flex;
  width: 100%;
  height: auto;
}

.subscription-label {
  margin-top: 10px;
  margin-bottom: 10px;
}

.subscription-checkbox--mail {
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
}

.entry label,
.entry input {
  display: block;
  width: 45%;
  height: auto;
}

label.required:after {
  color: red;
  content: " *";
}

.entry {
  float: left;
  width: 100%;
}

.entry > * {
  display: flex;
  margin: 0 5px 0 0;
}

.entry label {
  font-weight: 600;
}

.Privacy:link,
.Privacy:visited {
  color: #22242E;
  text-decoration: underline;
}

.Privacy:hover {
  color: #121419;
}

.sub-button {
  color: #ffffff;
  background-color: #22242E;
  padding: 5px 15px;
  border: none;
  border-radius: 3px;
  line-height: 35px;
}

.sub-button:hover {
  background-color: #121419;
  color: #ffffff;
}

.row--n input {
  border: none;
  padding: 5px 15px;
}

.row--n input:focus {
  box-shadow: #5bbfde 0 0 8px 0;
  border: none;
  outline: none;
}

.entry input {
  height: 47px;
}

.pretty--checkbox .focus-fill {
  display: none;
  width: 26px;
  height: 26px;
  font-size: 18px;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0 3px 0 0;
}

.pretty--checkbox {
  width: 32px;
  height: 32px;
  border: solid 2px #333645;
  cursor: pointer;
  background-color: #dddddd;
  padding: 0 0 0 3px;
}

.pretty--checkbox:focus-within {
  background-color: #333645;
  color: #ffffff;
}
.pretty--checkbox:focus-within .focus-fill {
  display: unset;
}
.pretty--checkbox:focus-within .fill {
  display: none;
}

@media screen and (max-width: 768px) {
  .entry input {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .row--n {
    width: 750px;
  }

  .entry {
    width: 100%;
    padding: none;
    margin: none;
  }

  #name,
#email {
    width: 90%;
    margin: none;
    padding: none;
  }
}
@media screen and (min-width: 992px) {
  .row--n {
    width: 970px;
  }

  .entry {
    width: 50%;
    padding: none;
    margin: none;
  }

  #name,
#email {
    width: 90%;
    margin: none;
    padding: none;
  }
}
@media screen and (min-width: 1260px) {
  .row--n {
    width: 1200px;
    height: auto;
    margin: auto;
  }

  .entry {
    width: 50%;
    padding: none;
    margin: none;
  }

  #name,
#email {
    width: 540px;
    margin: none;
    padding: none;
  }
}
footer {
  background-color: #333645;
  font-size: 13px;
  width: 100%;
}

.row--f {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  height: auto;
  padding-top: 45px;
  padding-bottom: 43px;
}

footer h3 {
  font-size: 16px;
  margin: 0 0 26px;
}

.column {
  flex: 25%;
}

.contact-area,
.about-area,
.site-map,
.Sm-buttons {
  padding: 0 15px;
}

footer a {
  color: #ffffff;
  line-height: 22px;
}

footer a:visited {
  color: #ffffff;
}

footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}

footer ul {
  align-content: left;
  align-items: left;
  text-align: left;
  padding: 0;
  margin: 0;
}

footer li {
  line-height: 22px;
}

.social-media-buttons {
  background-color: rgba(0, 0, 0, 0.25);
  min-width: 35%;
  max-width: 325px;
  height: 50px;
  border: none;
  border-radius: unset;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 15px;
  display: inline-block;
  text-align: center;
}

footer i {
  color: #ffffff;
  font-size: 30px;
  margin: 10px 0;
}

.fb:hover {
  background-color: #3B5998;
}

.tw:hover {
  background-color: #00ACED;
}

.in:hover {
  background-color: #0077B5;
}

.sta:hover {
  background-color: #d93175;
}

@media screen and (max-width: 768px) {
  .row--f {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .column {
    flex: 50%;
  }

  footer {
    display: flex;
    justify-content: center;
  }

  .row--f {
    display: flex;
    width: 750px;
    justify-content: center;
  }
}
@media screen and (min-width: 992px) {
  .row--f {
    width: 970px;
  }
}
@media screen and (min-width: 1260px) {
  .row--f {
    width: 1200px;
    margin: auto;
  }

  .column {
    flex: 25%;
  }

  .social-media-buttons {
    width: 240px;
  }
}
.awards {
  display: none;
  width: 100%;
  height: 274px;
}

.awards--container > * {
  padding: 0 20px;
}

.partner {
  background-image: url(../Assets/PartnerBadge.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 260px;
  height: 88px;
}

.award--1 {
  background-image: url(../Assets/asset_21.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 87px;
  height: 53px;
}

.a-img-contain-1 {
  width: 260px;
  height: 88px;
}

.a-img-contain-2 {
  width: 127px;
  height: 88px;
}

.a-img-contain-3 {
  width: 73px;
  height: 88px;
}

.a-img-contain-4 {
  width: 85px;
  height: 88px;
}

.a-img-contain-5 {
  width: 173px;
  height: 88px;
}

.a-img-contain-6,
.a-img-contain-7,
.a-img-contain-8 {
  width: 240px;
  height: 66px;
}

.bw--1 {
  background-image: url(../Assets/asset_22.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 33px;
  height: 53px;
}

.bw--1:hover {
  background-image: url(../Assets/asset_23.jpeg);
}

.bw--2 {
  background-image: url(../Assets/asset_24.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 45px;
  height: 53px;
}

.bw--2:hover {
  background-image: url(../Assets/asset_25.jpeg);
}

.bw--3 {
  background-image: url(../Assets/asset_26.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 133px;
  height: 53px;
}

.bw--3:hover {
  background-image: url(../Assets/asset_27.jpeg);
}

.bw--4 {
  background-image: url(../Assets/asset_28.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 66px;
}

.bw--4:hover {
  background-image: url(../Assets/asset_29.jpeg);
}

.bw--5 {
  background-image: url(../Assets/asset_30.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 50px;
}

.bw--5:hover {
  background-image: url(../Assets/asset_31.jpeg);
}

.bw--6 {
  background-image: url(../Assets/asset_32.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 66px;
}

.bw--6:hover {
  background-image: url(../Assets/asset_33.jpeg);
}

@media screen and (min-width: 768px) {
  .awards {
    display: unset;
    display: flex;
  }

  .awards--container {
    width: 750px;
    height: 270px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
  }
}
@media screen and (min-width: 992px) {
  .awards {
    height: 320px;
  }

  .awards--container {
    width: 970px;
  }

  .a-img-contain-1 {
    width: 285px;
    height: 110px;
  }

  .a-img-contain-2 {
    width: 180px;
    height: 110px;
  }

  .a-img-contain-3 {
    width: 109px;
    height: 110px;
  }

  .a-img-contain-4 {
    width: 125px;
    height: 110px;
  }

  .a-img-contain-5 {
    width: 240px;
    height: 110px;
  }

  .a-img-contain-6,
.a-img-contain-7,
.a-img-contain-8 {
    width: 313px;
    height: 90px;
  }

  .award--1 {
    width: 140px;
    height: 85px;
  }

  .bw--1 {
    width: 69px;
    height: 110px;
  }

  .bw--2 {
    width: 85px;
    height: 99px;
  }

  .bw--3 {
    width: 200px;
    height: 80px;
  }

  .bw--4,
.bw--6 {
    width: 273px;
    height: 90px;
  }

  .bw--5 {
    width: 273px;
    height: 68px;
  }
}
@media screen and (min-width: 1260px) {
  .awards {
    height: 266px;
  }

  .awards--container {
    width: 1200px;
  }

  .a-img-contain-1 {
    width: 331px;
    height: 88px;
  }

  .a-img-contain-2 {
    width: 226px;
    height: 88px;
  }

  .a-img-contain-3 {
    width: 155px;
    height: 88px;
  }

  .a-img-contain-4 {
    width: 171px;
    height: 88px;
  }

  .a-img-contain-5 {
    width: 286px;
    height: 88px;
  }

  .a-img-contain-6,
.a-img-contain-7,
.a-img-contain-8 {
    width: 390px;
    height: 58px;
  }

  .award--1 {
    width: 115px;
    height: 70px;
  }

  .bw--1 {
    width: 44px;
    height: 70px;
  }

  .bw--2 {
    width: 60px;
    height: 70px;
  }

  .bw--3 {
    width: 175px;
    height: 70px;
  }

  .bw--4,
.bw--6 {
    width: 175px;
    height: 58px;
  }

  .bw--5 {
    width: 175px;
    height: 44px;
  }
}/*# sourceMappingURL=style.css.map */