*{
    font-family: Poppins,sans-serif;
    list-style: none;
}

a{
    text-decoration: none;
}

body {
    display: flex;
    columns: 1;
    flex-wrap: wrap;
    align-items: center;
}

.container {
    display: inline-flex;
    flex-wrap: wrap;
    columns: 1;
    align-items: center;
}

.card {
    border: 1px black solid;
    text-align: center;
    padding: 5px;
    margin-left: 10vw;
    margin-right: 10vw;
}

#slider-area {
    background-image: url(../assets/asset-3.jpeg);
    background-repeat: no-repeat;
    // background-color: aqua;
    padding: 300px 500px;
    text-align: left;
    background-position: center;
}

.bg-dark {
    background-color: $color-primary;
    color: $white;
}

.bg-med {
    background-color: $background-color-footer;
    color: $white;
}


// Footer rules
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

footer > *{
    width: 25%;
    flex: 1 466px;
    margin-left: 15px;
}

footer a{
    color:#ffffff
}
footer a:visited {
    color: black;
}

//footer button rules
//opacity needs to be added without affecting the other elements
footer button{
    background-color:#000000;
    min-width: 203px;
    max-width: 334px;
    height: 55px;
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 15px;
}

footer i{
    color: $white;
    font-size: 30px;
    margin: 5px;
}

footer .fb:hover {
    background-color: $fb-blue;
}

footer .tw:hover {
    background-color: $tw-blue;
}

footer .in:hover {
    background-color: $in-blue;
}