@use '../absracts/index' as *;
// individual card styling found on _card--individuals
// card layout instructions
.cards-div {
    width: 100%;
    height: auto;
    padding: 20px 15px 0;
}

.cards--section {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 3px;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 30px;
    box-shadow: 0 3px 35px rgb(0 0 0 / 10%);
}

.card--txt p {
    width: 80%;
    height: auto;
    margin: 20px 30px 20px 30px;
    flex-basis: 100%;
    font-size: $secondary-fontsize;
    line-height: 22px;
}

.card--txt h3 {
    font-size: $primary-fontsize;
}

.card--txt h3::after {
    content: '';
    width: 28px;
    height: 3px;
    background-color: black;
    display: block;
    margin: auto;
    margin-top: 10px;
}

.card--txt{
    justify-content: center;
}

// card link manipulations
.card a:visited,
.card a:link {
 color: black;
}

.card a.click-card {
    z-index: 1;
    display: block;
}

.card a::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: ' ';
}

// Hover commands
.card a:hover {
    color: $white;
}

// icon container 
.icon {
    display: flex;
    margin-top: auto;
    margin-bottom: 17px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;  
    width: 60px;
    border-radius: 50%;
    font-size: 30px;
    color: $white;
}


// icon manipulations
.ci {
    align-self: center;
    fill: #ffffff;
    padding-top: 10px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 3px;
}



//read more styling
.card__button {
    line-height: $secondary-lineheight;
    color: $white;
    border: none;
    outline: none;
    padding: 5px 15px;
    width: 140px;
    margin: auto;
    border-radius: 3px;
}

//Media Queries
@media screen and (max-width:$breakpoint-xs) {
.cards--section {
    flex-direction: column;
}
}

@media screen and (min-width:600px) {

    .cards--section {
         flex-direction: none;
    }

    .card {
        width: 100%;
    }     

    .card--TS {
        padding: 30px 110px;
    }

    .card--WD {
        padding: 30px 100px;
    }

    .card--CS {
        padding: 30px 115px;
    }

    .card--DT {
        padding: 30px 90px;
    }
}

@media screen and (min-width:$breakpoint-medium) {

    .cards--section {
        width: 750px;
        height: auto;
        margin: auto;
    }

    .card--BS,
    .card--IT,
    .card--DM {
        width: 720px;
        margin: 30px 15px 0;
    }

    .card--TS,
    .card--WD,
    .card--CS,
    .card--DT {
        width: 345px;
        margin: 30px 15px 0;
        padding: 30px;
    }
}

@media screen and (min-width:$breakpoint-large) {

    .cards--section {
        display: flex;
        flex-wrap: wrap;
        width: 970px;
        height: auto;
        flex-direction: row;
    }

    .card--BS,
    .card--IT,
    .card--DM {
        width: 293.33px;
        margin: 30px 15px 0;
    }

    .card--TS,
    .card--WD,
    .card--CS,
    .card--DT {
        width: 455px;
    }
}

@media screen and (min-width:$breakpoint-xl) {

    .cards--section {
        width: 1200px;
        height: auto;
        flex-direction: row;
        margin:auto;
    }

    .card--BS,
    .card--IT,
    .card--DM {
        width: 370px;
        margin: 30px 15px 0;
    }

    .card--TS,
    .card--WD,
    .card--CS,
    .card--DT {
        width: 270px;
    }
}