@use '../absracts/index' as *;

// page and general styles 
#contact-container {
    background-color: $white;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

// The title and banner indicating the page
#contact-banner {
    display: none;
    width: 100%;
    height: 45px;
    padding: 14px;

    * {
        font-size: 13px;
        display: inline;
    }
}

.banner-list {

    li::before {
        content: "/";
        padding: 0 5px;
    }
}

#contact-title {
    background-color: $color-primary;
    padding: 24px 0;
    color: $white;
}

#office-page-title {
    margin: 0 0 28px;
}

// the styles for the cards and the container
#office-list-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.office-columns {
    padding-left: 15px;
    padding-right: 15px;
}

.office-cards {
    border: 1px solid #ccc;
    border-radius: 3px;
}

.office-images {
    max-width: 100%;
}

.office-card-text {
    padding: 30px;

    p {
        font-size: 13px;
        margin-bottom: 15px;
        margin-top: 15px;
    }
}

.card-title {
    color: #000;
    font-size: 18px;
}

.text-design {
    color: $fill-des-dev;
    font-size: 26px;
}

.card-title:hover,
.text-design:hover {
    text-decoration: underline;
}

.view-more {
    margin-top: 15px;
}

.office-button {
    color: $white;
    padding: 5px 30px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 14.4px;
    height: 47px;
    width: 144px;
}

//contact form area
#contact-area {
    padding: 0 15px;
}

#contact-area-inner {
    display: flex;
    flex-direction: column;
}

#contact-hours {
    padding: 0 15px 0 30px;
}

.contact-hours-details {
    margin-bottom: 15px;
}

#form-card {
    background: $contact-form-fill;
    padding: 30px;
}

#contactForm {
    display: flex;
    flex-direction: column;
}

.label-CF {
    text-transform: capitalize;
    font-size: 16px;
    margin-top: 15px;
}

.label-CF::after {
    content: "*";
    color: $news-art-alt2;
}

.button-replace {
    height: auto;
    width: 140px;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 1.063rem;
    border: none;
    border-radius: 3px;
    outline: none;
    white-space: normal;
    color: $white;
}

@media screen and (min-width: $breakpoint-medium) {
    #contact-banner {
       display: block; 
    }

    #office-list-container {
        width: $media-med-width;
        flex-direction: row;
    }

    .inner {
        width: $media-med-width;
    }
    
}

@media screen and (min-width: $breakpoint-large) {
    #contact-banner {
       box-shadow: 0 5px 35px rgb(0, 0, 0, 10%); 
    }
    
    #contact-title {
        background-color: $white;
        padding: 50px 0 0;
        color: $color-hover;
    }

    .office-columns {
        width: 33.3%;
    }

    .inner, 
    #office-list-container {
        width: $media-lrg-width;
    }

    #contact-area-inner {
        flex-direction: row-reverse;
    }
    

}

@media screen and (min-width: $breakpoint-xl) {
    .inner, 
    #office-list-container {
        width: $media-xl-width;
    }

}