@use '../absracts/index' as *;

// page and general styles 
#contact-container {
    background-color: $white;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

// The title and banner indicating the page
#contact-banner {
    display: none;
    width: 100%;
    height: 45px;
    padding: 14px;


    * {
        font-size: 13px;
        display: inline;
    }
}

.banner-list {

    li::before {
        content: "/";
        padding: 0 5px;
    }
}

#contact-title {
    background-color: $color-primary;
    padding: 24px 0;
    color: $white;
}

#office-page-title {
    margin: 0 0 28px;
}

// the styles for the cards and the container
#office-list-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.office-columns {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
}

.office-cards {
    border: 1px solid #ccc;
    border-radius: 3px;
}

.office-images {
    max-width: 100%;
}

.office-card-text {
    padding: 30px;

    p {
        font-size: 13px;
        margin-bottom: 15px;
        margin-top: 15px;
    }
}

.card-title {
    color: #000;
    font-size: 18px;
}

.text-design {
    color: $fill-des-dev;
    font-size: 26px;
    font-weight: 700;
}

.card-title:hover,
.text-design:hover {
    text-decoration: underline;
}

.view-more {
    margin-top: 30px;
}

.office-button {
    color: $white;
    padding: 15px 28px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 14.4px;
}

.map-container {
    height: 300px;
}

.alt-text-colour {
    color: $card-border;
}

//contact form area
#contact-area {
    padding: 0 15px 50px;
    justify-content: center;
}

#contact-area-inner {
    display: flex;
    flex-direction: column;
    max-width: 1179px;
}

#contact-hours {
    padding: 0 15px 0 30px;
}

.contact-hours-details {
    margin-bottom: 15px;
    line-height: 1.875rem;
}

#hours-info {
    display: flex;
}

#out-of-hours:hover{
    cursor: pointer;
    text-decoration: underline;
}

.email-link{
    font-size: 19px;
}

.info-drop {
    margin: 0 0 0 10px;
}

.hidden-hours {
    display: none;
}

.revealed-hours{
    display: block;
}

#form-card {
    background: $contact-form-fill;
    padding: 30px;
    border-radius: 10px;
    max-height: 900px;
}

#contactForm {
    display: flex;
    flex-direction: column;
}

.label-CF {
    text-transform: capitalize;
    font-size: 16px;
    margin-top: 15px;
    font-weight: 600;
}

.label-CF::after {
    content: "*";
    color: $news-art-alt2;
}

.button-replace {
    height: auto;
    width: 149px;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    outline: none;
    white-space: normal;
    color: $white;
}

.button-replace:hover {
    cursor: pointer;
}

.form-input{
    border: 1px solid $modal-border;
    border-radius: 2px;
    outline: none;
    height: 47px;
    padding: 5px 15px;
}

.form-input:focus{
    box-shadow: 0 0 10px 3px $contact-focus;
}

.error{
    border: 1px solid red;
}

.error-fixed {
    border: 1px solid $modal-border;
}

#checkbox-group{
    margin: 15px 0;
}

.form-display {
    display: flex;
    flex-direction: column;
}

.contactForm-inner {
    display: flex;
    flex-direction: column;
}

#message {
    height: 100px;
}

// Success message styling
.submission-bar {
    display: none;
    padding: 15px;
    justify-content: space-between;
    border: 1px solid #d6e9c6;
    background-color: $fill-market;
    margin-top: -15px;
}

.notSubmitted {
    color: $white;
}

.success-state{
    display: flex;
}

#success-close {
    float: right;
    opacity: .2;
    font-size: 21px;
    color: #000000;
    background: transparent;
    border: none;
    font-weight: 700;
}

#success-close:hover {
    opacity: 1;
}

@media screen and (min-width: $breakpoint-medium) {
    #contact-banner {
       display: flex; 
    }

    #office-list-container {
        width: $media-med-width;
        flex-direction: row;
    }

    .inner {
        width: $media-med-width;
    }
    
    .email-link{
        font-size: 26px;
    }
}

@media screen and (min-width: $breakpoint-large) {
    #contact-banner {
       box-shadow: 0 5px 35px rgb(0, 0, 0, 10%); 
    }
    
    #contact-title {
        background-color: $white;
        margin: 50px 0 0;
        color: $color-hover;
    }

    .office-columns {
        width: 33.3%;
    }

    .inner, 
    #office-list-container {
        width: $media-lrg-width;
    }

    #contact-area{
        display: flex;
    }

    #contact-area-inner {
        flex-direction: row-reverse;
        max-width: 1169px;
    }

    #contact-hours {
        width: 370px;
    }
    
    .contactForm-inner{
        flex-direction: row;
        flex-wrap: wrap;
    }

    #form-card {
        max-height: 568px;
    }

    .form-display{
        width: calc(50% - 20px);
    }

    .form-right {
        margin-left: 40px;
    }
}

@media screen and (min-width: $breakpoint-xl) {
    .inner, 
    #office-list-container {
        width: $media-xl-width;
    }

}