@use '../absracts/index' as *;

// Header rules
header {
    width: 100%;
}

.header {
    display: flex;
    flex-wrap: wrap;

    i {
        margin: auto;
    }
} 

.header > * {
    padding-left: 5px;
    padding-right: 5px;
    margin: auto;
}

.topline {
    display: inline-flex;
}

.header-line {
    display: none;
    padding-left: 20px;
    padding-top: 7px;
}

// Logo rules
.logo--cont {
    display: inline-flex;
}

.logo--cont img {
    flex-shrink: 0;
    max-height: auto;
    max-width: 100%;
}

// Support button rules
.support-button-sm {
    display: flex;
    align-items: center;
    text-align: center;
}

.sup-but-sm {
    font-size: 25px;
}

.sup-but-sm:link,
.sup-but-sm:visited {
    color: $color-primary;
}

.sup-but-sm:hover {
    color: $header-button;
    border-bottom: 2px solid $header-button;
}

// Hamburger rules
.hamburger--sm,
.hamburger--more {
    display: inline-flex;
    background-color: $background-color-primary;
    width: 63px;
    height: 56px;
    text-align: center;
    align-content: center;
    margin-left: 5px;
    flex-direction: column;
    border-radius: 3px;
    padding: 5px 15px;
    cursor: pointer;
}

.menu-line {
    display: block;
    width: 33px;
    height: 3px;
    content: "";
    background-color: $white;
    margin: 5px 0 5px;
}

.menu__word {
    margin: -15px 0 0;
    color: $white;
    line-height: 1;
    font-size: .75rem;
    text-transform: uppercase;
}

.hamburger--sm {
    margin-left: 20px;
}

.hamburger--more {
    display: none;
    margin: auto;
}

.menu-button:link,
.menu-button:visited {
    color: $color-primary;
}

.menu-button:hover {
    color: $header-button;
    text-decoration: underline;    
}

.header-line {
    width: 375px;
    height: 70px;
}

// Search bar rules
.search-sm {
    display: inline;
    width: 100%;
    height: auto;
}

.search-form-small {
    border: 2px solid rgba(85, 85, 85,0.25);
    border-radius: 3px;
}

.search--bar-sm {
    display: flex;
    float:left;
    font-size: 14px;
    flex-grow: 1;
    border: 0;
    width: 90%;
    height: 23px;
    outline: none;
    cursor: pointer;
    background-color: rgba(85, 85, 85,0.25);
}

.search--button-sm {
    font-size: 20px;
    border: none;
    float: left;
    background: rgba(85, 85, 85,0.25);
    color: $color-primary;
    cursor: pointer;
    height: 23px;
    width: 10%;
    text-align: right;
    border-radius: 0;
}

.search-sm.search--bar-sm::after,
.search-sm.search--button-sm::after {
    content: "";
    clear: both;
    display: table;
}

//medium/xl search
.search--bar-med
{
    display: flex;
    float: left;
    border: 1px grey solid;
    border-right: none;
    width: 174px;
    height: 56px;
    outline: none;
    margin: 0px 0px 0 20px;
}

.search--button-med {
    background: $contact-button;
    border: none;
    outline: none;
    color: $white;
    float: left;
    padding: none;
    margin: none;
    margin-top: 0px;
    font-size: 23px;
    line-height: 24px;
    width: 63px;
    height: 56px;
    cursor: pointer;
}

.search--button-med:hover {
    background-color: $contact-button-hover;
}

.search-med {
    display: none;
    margin: auto;
}

// large search

.search--lrg {
    width: 63px;
    height: 56px;
    background-color: $contact-button;
    color: $white;
    border: none;
    cursor: pointer;
    text-align: center;
    align-self: center;
    display: none;
}


// support buttons

.support--lrg {
    background-color: $fill-supp;
    color: $white;
    border: none;
    width: 136px;
    height: 56px;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}

.contact--lrg {
    background-color: $contact-button;
    color: $white;
    border: none;
    width: 144px;
    height: 56px;
    cursor: pointer;
    display: none;
}

.support--lrg:hover {
    background-color: $support-button-hover;
}

.contact--lrg:hover {
    background-color: $contact-button-hover;
}

// media rules
@media screen and (max-width: 380px) {
    .logo--cont img {
        width: 88px;
        height: 15px
    }

    .logo--cont {
        width: 88px;
        height: 70px;
        margin-top: 30px;
    }
}

@media screen and (min-width: 380px) {
    .logo--cont img {
        width: 300px;
        align-content: center;
        justify-content: center;
    }

}

@media screen and (min-width:$breakpoint-medium) {
    
    .header {
        width: 750px;
    }

    .search-form-small {
        display: none;
        padding-bottom: 50px;
    }

    .support-button-sm {
        display: none;
        margin:auto auto 50px;
    }

    .search-med {
        display: inline-flex;
    }

    .sup-but-sm,
    .hamburger--sm {
        display: none;
    }

    .hamburger--more {
        display:inline-flex;
        margin: 7px auto;
    }

    form {
        display: inline-flex;
        padding-top: 7px;
    }

    .logo--cont {
        margin-top: 7px;
    }
}

@media screen and (min-width:$breakpoint-large) {
    .header {
        width: 970px;
    }

    .header-line button {
        font-size: 18px;
    }

    .header-line i {
        font-size: 23px;
    }

    .search-med {
        display: none;
    }

    .support--lrg,
    .contact--lrg,
    .search--lrg {
        display: inline-flex;
        cursor: pointer;
    }

}

@media screen and (min-width:$breakpoint-xl) {
    .header {
        width: 1200px;
    }

    .header-line {
        width: 707px;
    }

    .search-med {
        display: inline-flex;
    }


    .contact-lrg,
    .support-lrg {
        display: inline-flex;
    }

    .search--lrg {
        display: none;
    }
        
}