@use '../absracts/index' as *;

// Latest area title
.Bar {
    width: 100%;
    height: 104px;
    box-shadow: 0 0 35px rgb(0 0 0 / 10%);
}

.latest--title {
    display: flex;
    width: 710px;
    height: 104px;
    margin:auto;
}

.latest__title {
    font-size: 20px;
    border-bottom: 4px solid black;
    width: 89px;
    height: 105px;
    margin: 0px 0 0px 15px;
    line-height: 24px;
    font-weight: 600;
    padding: 40px 0 0;
}

// Rules for the section.
.latest {
    width: 100%;
    height: auto;
}

.latest--container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 50px 0;
}

.news-article {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 20px 15px;

    h3 {
        font-size: $primary-fontsize;
        height: 48px;
        margin: 0 0 15px;
    }

    p {
        height: 66px;
        margin: 0 0 25px;
        font-size: 13px;
    }
}

.news-img-banner {
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 5;
    padding: 0 10px;
    color: $white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 23px;
}

.news-img-banner:hover {
    text-decoration: underline;
}

.banner-1 {
    background-color: $fill-bespoke;
}

.banner-2 {
    background-color: $fill-telecoms;
}

.banner-3 {
    background-color: $fill-supp;
}

.block {
    padding: 30px;
    box-shadow: 0 45px 35px -35px rgb(0 0 0 / 10%);
    height: auto;
}

.news-article,
.news-article img {
    width: 100%;
}

.main-img {
    overflow: hidden;
    max-height:390px;
    position: relative;
}

.art-head1,
.art-head2,
.art-head3 {
    font-weight: 600;
    line-height: 24px;
}

.Read-more1,
.Read-more2,
.Read-more3 {
    font-size: 17px;
    line-height: $secondary-lineheight;
    border-radius: 3px;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
}

.user {
    border-top: 1px solid #CCCCCC;
    margin: 30px 0px 0 0px;
    padding: 30px 0 0 0;
    font-size: 14px;
    line-height: $primary--lineheight;
    display: flex;

    p{
        margin: 0;
        height: auto;
    }
}

.details {
    height: 47px;
    justify-content: space-between;
    padding-left: 20px;
    
    .user-name {
        padding: 0 0 10px 0;
    }
}


// The first article

.art-head1:link,
.art-head1:visited {
    color: $fill-bespoke;
}

.art-head1:hover {
   text-decoration: underline;
}

.Read-more1:link,
.Read-more1:visited {
    background-color: $fill-bespoke;
    color: $white;
}

.Read-more1:hover {
    background-color: $news-art-alt1;
}

// The second article

.art-head2:link,
.art-head2:visited {
    color: $fill-telecoms;
}

.art-head2:hover {
   text-decoration: underline;
}

.Read-more2:link,
.Read-more2:visited {
    background-color: $fill-telecoms;
    color: $white;
}

.Read-more2:hover {
    background-color: $news-art-alt2;
}

// The third article 

.art-head3:link,
.art-head3:visited {
    color: $fill-supp;
}

.art-head3:hover {
   text-decoration: underline;
}

.Read-more3:link,
.Read-more3:visited {
    background-color: $fill-supp;
    color: $white;
}

.Read-more3:hover {
    background-color: $news-art-alt3;
}

@media screen and (max-width:$breakpoint-medium) {
    .news-article{
        h3 {
          height: 24px;  
        }

        p {
            height: 44px;
        }
    }
}

@media screen and (min-width: $breakpoint-medium) {

    .latest--title {
        width: 720px;
    }
    
    .latest__title {
        margin: 0px 0 00px;
    }

    .latest--container {
        justify-content: center;
    }

    .news-article,
    .main-img {
        width: 345px;
    }

    .news-article {
        height: 569px;
    }

    .main-img {
        height: 199px;
    }

    .main-img:hover { 
        img{
            opacity: 0.80;
            transform: scale(1.05); 
        }
    }
    
    .n--a3 {
        display: none;
    }

    .latest {
        box-shadow: 0 35px 35px -25px rgb(0 0 0 / 10%);
    }

    .block {
        box-shadow: 0 0px 0px 0px rgb(0 0 0 / 0%);
    }

    .block--1 {
        box-shadow: 25px 0 15px -15px rgb(0 0 0 / 10%);
    }

    .block--2 {
        box-shadow: -25px 0 15px -15px rgb(0 0 0 / 10%);
    }
}

@media screen and (min-width: $breakpoint-large) {
   
    .latest--title {
        width: 940px;
    }

    .latest--container {
        width: 970px;
        margin: auto;
    }

    .news-article,
    .main-img {
        width: 455px;
    }
    .news-article{
        height: 636px;
    }

    .main-img {
        height: 263px;
    }

    .block {
        height: 370px;
    }
}

@media screen and (min-width: $breakpoint-xl) {

    .latest {
        padding-bottom: 130px;
    }

    .latest--title {
        width: 1170px;
    }

    .latest--container {
        width: 1200px;
        height: 583px;
        margin: auto;
    }

    .n--a3 {
        display: block;
    }

    .news-article,
    .main-img {
        width: 370px;
    }

    .news-article {
        height: 583px;
    }

    .main-img {
        height: 213px;
    }

    .block--2 {
        box-shadow: 25px 0 15px -15px rgb(0 0 0 / 10%),
        -25px 0 15px -15px rgb(0 0 0 / 10%);
    }

    .block--3 {
        box-shadow: -25px 0 15px -15px rgb(0 0 0 / 10%);
    }
}

.user{
    img {
        width: 47px;
        height: 47px;
        border-radius: 100%;
    }
}
