@use '../absracts/index' as *;

// general rules
.navbar {
    width: 100%;
    background-color: $color-primary;
    position: relative;
    display: none;
}

.navbar-container {
    width: 970px;
    height: 99px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    text-transform: uppercase;

    a{
        color: $white;
    }

    li{
        width: 156px;
        height: 99px;
        float: left;
        align-content: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        border-right: 1px solid hsla(0,0%,100%,.1);
        border-left: 1px solid rgba(0,0,0,.25);
    }

    i{
        font-size: 23px;
        margin-top: 7px;
    }

    span {
        width: 100%;
        display: block;
    }
}

.navbar-main{
    border-left: 1px solid hsla(0,0%,100%,.1);
    border-right: 1px solid rgba(0,0,0,.25);
}

.web {
    i {
        color: $fill-des-dev;
        width: 100%;
    }
}

.IT {
    i {
        color: $fill-supp;
    }
}

.telecoms {
    i {
        color: $fill-telecoms;
    }
}

.bespoke {
    i {
        color: $fill-bespoke;
    }
}

.digital {
    i {
        color: $fill-market;
    }
}

.cyber {
    i {
        color: $fill-cyber;
    }
}

.small {
    font-size: 10px;
    text-align: center;
}

.large {
    font-size: 16px;
}

.menu-web,
.menu-it,
.menu-telecoms,
.menu-bespoke,
.menu-marketing,
.menu-cyber {
    left: 50%;
    transform: translateX(-50%);

    li {
        border: none;
    }
}

.menu {
    color: $white;
    visibility: hidden;
    display: flex;
    position: absolute;
    height: 45px;
    z-index: 2;
    bottom: -45px; 
    font-size: .8125rem;
    text-align: left;
    width: 970px;
    padding: 0 0 0 17px;
}

.menu li {
    width: auto;
    font-size: 13px;
    line-height: 45px;
}

.menu li:not(:first-child) {
    padding: 0 0 0 20px;
}

.menu li::after {
    content: '-';
    padding: 0 0 0 20px;
    font-size: 13px;
    line-height: 45px;
}

.menu li:last-child::after {
    display: none;
}

.empty-div {
    content: "";
    width: 100%;
    height:45px;
    visibility: hidden;
    position: absolute;
    height: 45px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    bottom: -45px;
}

// hover state rules

.web:hover {
    background-color: $fill-des-dev;
  i{
    color: $white;
  }

  .menu-web {
    visibility: visible;
  }

  .empty-div {
    visibility: visible;
    bottom: -45px;
    background: $fill-des-dev;
  }
}

.IT:hover {
    background-color: $fill-supp;
  i{
    color: $white;
  }

  .menu-it {
    visibility: visible;
  }

  .empty-div {
    visibility: visible;
    bottom: -45px;
    background: $fill-supp;
  }
}

.telecoms:hover {
    background-color: $fill-telecoms;
  i{
    color: $white;
  }

  .menu-telecoms {
    visibility: visible;
  }

  .empty-div {
    visibility: visible;
    bottom: -45px;
    background: $fill-telecoms;
  }
}

.bespoke:hover {
    background-color: $fill-bespoke;
  i{
    color: $white;
  }

  .menu-bespoke {
    visibility: visible;
  }

  .empty-div {
    visibility: visible;
    bottom: -45px;
    background: $fill-bespoke;
  }
}

.digital:hover {
    background-color: $fill-market;
  i{
    color: $white;
  }

  .menu-marketing {
    visibility: visible;
  }

  .empty-div {
    visibility: visible;
    bottom: -45px;
    background: $fill-market;
  }
}

.cyber:hover {
    background-color: $fill-cyber;
  i{
    color: $white;
  }

  .menu-cyber {
    visibility: visible;
  }

  .empty-div {
    visibility: visible;
    bottom: -45px;
    background: $fill-cyber;
  }
}

//media queries
@media screen and (min-width:$breakpoint-large) {
    .navbar {
        display: flex;
    }
}

@media screen and (min-width:$breakpoint-xl) {
    .navbar-container{
        width: $media-xl-width;

        li{
            width: 195px;
        }
    }

    .menu {
        width: $media-xl-width;

        li {
            width: auto;
            font-size: 16px;
        } 
    }

    .menu li:not(:first-child) {
        padding: 0 0 0 30px;
    }

    .menu li::after {
        padding: 0 0 0 30px;
        font-size: 16px;
    }
}
