@use '../absracts/index' as *;

#side-menu {
    width: 275px;
    height: 100%;
    position: fixed;
    right: 0;
    z-index: 100;
    transform: translateX(275px);
    transition: transform ease-in 250ms;
    overflow-y: auto;
    background: $background-color-primary;

    a{
        color: $white;
    }
}

.small-menu-items {
    padding: 19px 0 18px;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    background-color: $header-button;
    border-top: 1px solid hsla(0,0%,100%,.05);
}

.first-li {
    border-top: none;
    border-radius: 3px 3px 0 0;
}

.last-li {
    border-radius: 0 0 3px 3px;
}

.menu-xs {
    background: $background-color-primary;
    padding: 21px;
    border-bottom: 1px solid rgba(0,0,0,.25);
}

.web-icon {
    color: $fill-des-dev;
}

.support-icon {
    color: $fill-supp;
}

.telecoms-icon {
    color: $fill-telecoms;
}

.bespoke-icon {
    color: $fill-supp;
}

.marketing-icon {
    color: $fill-market;
}

.security-icon {
    color: $fill-cyber;
}

.li-head {
    display: block;
    height: 100px;
    width: 220px;
    border: 1px solid hsla(0,0%,100%,.1);
    outline: 1px solid rgba(0,0,0,.25);
    margin: 20px 0;
    border-radius: 3px;
    font-size: 18px;
    padding: 6px 0 18px;
    text-transform: uppercase;
    text-align: center;
    align-items: center;

    span {
        display: block;
    }

    small {
        display: block;
        font-size: 10px;
    }
}

.side-menu--contact:hover,
.li-head:hover {
    background-color: lighten($background-color-primary, 10%);
}

.side-menu--contact {
    width: 220px;
    height: 50px;
    border: 1px solid hsla(0,0%,100%,.1);
    outline: 1px solid rgba(0,0,0,.25);
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    padding: 15px 0 18px;
}

#menu-overlay {
    top:     0;
    right:   0;
    position: fixed;
    width:   0;
    height:  0;
    opacity: 0;
    z-index: 10;
    content: "";
    background: rgba(0,0,0,.4);
    transition: opacity ease-in 250ms;
    cursor: pointer;
}

.large-menu-group {
    border-top: 1px solid hsla(0,0%,100%,.05);
    border-bottom: 1px solid rgba(0,0,0,.25);
}

.large-menu-header {
    background-color: $background-color-primary;
    padding: 16px;
    text-transform: uppercase;
    width: 258px;
    height: 56px;
    display: block;
    font-size: 16px;
}

.large-menu-items{
    background-color: $header-button;
    padding: 15px;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    border-bottom: 1px solid rgba(0,0,0,.25);
    border-top: 1px solid hsla(0,0%,100%,.05);
}

.side-menu_large-items::before {
    content: "\BB";
    padding-right: 15px;
}

body {
    overflow-x: hidden;
    // overflow-y: hidden;
    transform: translateX(0);
    transition: transform ease-in 250ms;
}

.large-menu-group:hover {
    .large-menu-header {
        background-color: lighten($background-color-primary, 10%);
    }
}

.menu-showing {
    
    #menu-overlay {
      opacity: .5;
      width: 100%;
      height: 100%;
    }

    #side-menu  {
        overflow-y: scroll;
    }

    #main{
        overflow-y: hidden;
    }
    // overflow-y: hidden;
    transform: translateX(-275px);  
    
}

@media screen and (min-width:$breakpoint-large) {
    .menu-xs {
        display: none;
    }
}