@use '../absracts/index' as *;
// individual card styling found on _card--individuals
// card layout instructions
.cards--section {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding: 0 -15px;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
}

.card {
    display: flex;
    border: 1px solid #666666;
    align-items: center;
    margin-top: 30px;
    min-width: 453px;
    max-width: 720px;
    height: 290px;
    position: relative;
    text-align: center;
    justify-content: space-evenly;
    padding: 30px;
    flex-basis: 100%;
}

.card--txt p {
    min-width: 391px;
    max-width: 658px;
    height: auto;
    margin: 20px 30px 20px 30px;
}

// card link manipulations
.card a:visited,
.card a:link {
 color: black;
}

.card a.click-card {
    z-index: 1;
    display: block;
}

.card a::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: ' ';
}

// Hover commands
.card a:hover {
    color: $white;
}

// icon container 
.icon {
    display: flex;
    // margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: 60px;  
    width: 60px;
    border-radius: 50%;
    font-size: 30px;
    color: $white;
}


// icon manipulations
.ci {
    align-self: center;
    fill: #ffffff;
    padding-top: 10px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 3px;
}

.card--txt p {
    font-size: $secondary-fontsize;
}

.card--txt h3 {
    font-size: $primary-fontsize;
}

//read more styling
.card__button {
    line-height: $secondary-lineheight;
    color: $white;
    border: none;
    outline: none;
}

//Media Queries
@media screen and (max-width:600px) {
.card {
    width: 312px;
    padding: 30px;
}

.cards--section {
    flex-direction: column;
}
}

@media screen and (min-width:600px) {
    .card--TS,
    .card--WD,
    .card--CS,
    .card--DT {
        height: 268px;
    }
}

@media screen and (min-width:751px) {
    .card--TS,
    .card--WD,
    .card--CS,
    .card--DT {
        width: 345px;
        height: 312px;
    }
}

@media screen and (min-width:975px) {

    .cards--section {
        display: flex;
        flex-wrap: wrap;
        position: none;
    }

    .card--BS,
    .card--IT,
    .card--DM {
        width: 370px;
        height: 312px;
    }

    .card--TS,
    .card--WD,
    .card--CS,
    .card--DT {
        width: 455px;
    }
}

@media screen and (min-width:1243px) {

    .card--BS,
    .card--IT,
    .card--DM {
        width: 293px;
        height: 356px;
    }

    .card--TS,
    .card--WD,
    .card--CS,
    .card--DT {
        width: 270px;
        height: 312px;
    }
}