@use '../absracts/index' as *;

// Culture rules
.culture {
    display: flex;
    text-align: left;
    background: $background-color-primary;
    color: #ffffff;
    padding: 10px;
    grid-template-columns: 1;
    grid-template-rows: 5;
    flex-wrap: wrap;
    margin-top: 50px;
}

.culture p {
    width: 100%;
    height: auto;
}

.culture h2 {
    font-size: 36px;
    width: 100vw;
    height: auto;
}

.intro-paragraph {
    font-size: $primary-fontsize;
}

// Button rules
.but-cult {
    background-color: $white;
    padding: 3px;
    border-radius: 9%;
    margin-left: 10px;
    margin-bottom: 10px;
}

.but--cult {
    width: 100vw;
    height: auto;
}

.but-cult:hover {
    background-color: #EBEBEB;
}

.culture a:link,
.culture a:visited {
    color: black;
}