@use '../absracts/index' as *;

// Header rules
header {
    width: 100%;
    justify-content: space-evenly;
}

.header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}

.header > * {
    padding-left: 5px;
    padding-right: 5px;
}

.topline {
    display: inline-flex;
}

.topline :nth-child(2) {
    margin-left: 20px;
}

.header-line {
    display: none;
    padding-left: 20px;
}

// Logo rules
.logo--cont img {
    max-height: auto;
    max-width: 100%;
}

// Support button rules
.support-button-sm {
    display: flex;
    align-items: center;
    text-align: center;
}

.sup-but-sm {
    font-size: 25px;
}

.sup-but-sm:link,
.sup-but-sm:visited {
    color: $color-primary;
}

.sup-but-sm:hover {
    color: $header-button;
    border-bottom: 2px solid $header-button;
}

// Hamburger rules
.hamburger--sm,
.hamburger--more {
    display: flex;
    background-color: $background-color-primary;
    width: 63px;
    height: 56px;
    text-align: center;
    align-items: center;
    margin-left: 5px;
    flex-direction: column;
}

.hamburger--more {
    display: none;
    margin-left: 5px;
}

.menu-button:link,
.menu-button:visited {
    color: $color-primary;
}

.menu-button:hover {
    color: $header-button;
    text-decoration: underline;    
}

.hamburger--sm span,
.hamburger--more span {
    color: $white;
    width: 100%;
}

.header-line {
    width: 375px;
    height: 70px;
}

// Search bar rules
.search-sm {
    display: inline;
    width: 100%;
    height: auto;
}

.search-sm.search--bar-sm::after,
.search-sm.search--button-sm::after {
    content: "";
    clear: both;
    display: table;
}

.search--bar-sm {
    display: flex;
    float:left;
    font-size: 14px;
    flex-grow: 1;
    background: rgba(85, 85, 85,0.25);
    border: 0;
    width: 90%;
    height: 23px;
    outline: none;
}

.search--button-sm {
    font-size: 20px;
    border: none;
    float: left;
    background: rgba(85, 85, 85,0.25);
    color: $color-primary;
    cursor: pointer;
    height: 23px;
    width: 10%;
    text-align: right;
}

.hidden--bar {
    display: none;
}

//medium breakpoint search bar rules
.search--bar-med {
    display: flex;
    float: left;
    border: 1px grey solid;
    border-right: none;
    width: 174px;
    height: 56px;
    outline: none;
}

.search--button-med {
    background: $contact-button;
    border: none;
    outline: none;
    color: $white;
    float: left;
    padding: none;
    margin: none;
    font-size: 23px;
    line-height: 24px;
    width: 63px;
    height: 56px;
}

.search-med,
.search-lrg,
.contact-lrg,
.support-lrg {
    display: none;
}

// support buttons

.support--lrg {
    background-color: $fill-supp;
    color: $white;
    border: none;
    width: 136px;
    height: 56px;
    border-radius: 3px;
}

.contact--lrg {
    background-color: $contact-button;
    color: $white;
    border: none;
    width: 144px;
    height: 56px;
}

// media rules
@media screen and (min-width:$breakpoint-medium) {
    .topline {
        width: 375px;
    }

    .header {
        width: 750px;
    }

    .header-line {
        display: unset;
        display: flex;
    }

    .search-sm {
        display: none;
    }

    .support-button-sm {
        display: none;
    }

    .search-med {
        display: unset;
    }

    .hamburger--sm {
        display: none;
    }

    .hamburger--more {
        display:unset;
    }


}

@media screen and (min-width:$breakpoint-large) {
    .header {
        width: 970px;
    }

    .header-line {
        width: 467px;
        justify-content: space-evenly;
    }

    .header-line button {
        font-size: 18px;
    }

    .header-line i {
        font-size: 23px;
    }

    .search--lrg {
        width: 63px;
        height: 56px;
        background-color: $contact-button;
        color: $white;
        border: none;
    }

    .search-med {
        display: none;
    }

    .search-lrg,
    .contact-lrg,
    .support-lrg {
        display: unset;
    }

    .search--lrg:focus {
        .search--bar-med {
        display: unset;
        }
    }
}

@media screen and (min-width:$breakpoint-xl) {
    .header {
        width: 1200px;
    }

    .header-line {
        width: 707px;
    }

    .search-med {
        display: unset;
    }

    .search-lrg {
        display: none;
    }
        
}