@use '../absracts/index' as *;

// Header rules
.header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.header > * {
    padding-left: 5px;
    padding-right: 5px;
}

.topline {
    display: inline-flex;
}

.topline :nth-child(2) {
    margin-left: 20px;
}

// Logo rules
.logo--cont img {
    max-height: auto;
    max-width: 100%;
}

// Support button rules
.support-button {
    display: flex;
    align-items: center;
    text-align: center;
}

.sup-but {
    font-size: 25px;
}

.sup-but:link,
.sup-but:visited {
    color: $color-primary;
}

.sup-but:hover {
    color: $header-button;
    border-bottom: 2px solid $header-button;
}

// Hamburger rules
.hamburger {
    display: flex;
    background-color: $background-color-primary;
    width: 63px;
    height: 56px;
    text-align: center;
    align-items: center;
    margin-left: 5px;
}

.menu-button:link,
.menu-button:visited {
    color: $color-primary;
}

.menu-button:hover {
    color: $header-button;
    text-decoration: underline;    
}

.hamburger span {
    color: $white;
}

// Search bar rules
.search {
    display: inline;
    width: 100%;
    height: auto;
}

.search.search--bar::after,
.search.search--button::after {
    content: "";
    clear: both;
    display: table;
}

.search--bar {
    display: flex;
    float:left;
    font-size: 14px;
    flex-grow: 1;
    background: $search-bar;
    border: 0;
    width: 90%;
    height: 23px;
    outline: none;
}

.search--button {
    font-size: 20px;
    border: none;
    float: left;
    background: $search-bar;
    color: $color-primary;
    cursor: pointer;
    height: 23px;
    width: 10%;
    text-align: right;
}
