@use '../absracts/index' as *;

// Latest area title
.Bar {
    width: 100%;
    height: 104px;
    box-shadow: 0 0 35px rgb(0 0 0 / 10%);
}

.latest--title {
    display: flex;
    width: 710px;
    height: 104px;
    margin:auto;
}

.latest__title {
    font-size: 20px;
    border-bottom: 4px solid black;
    width: 89px;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 24px;
}

// Rules for the section.
.latest {
    width: 100%;
    height: auto;
    margin-bottom: 70px;
}

.latest--container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 50px 0;
}

.news-article {
    border: 1px solid black;
    margin: 20px 10px;
}

.news-article,
.news-article img {
    width: 100%;
}

.news-article h3{
    font-size: $primary-fontsize;
}

.Read-more1,
.Read-more2,
.Read-more3 {
    font-size: 17px;
    line-height: $secondary-lineheight;
    border-radius: 3px;
}

.user {
    border-top: 1px solid #CCCCCC;
    margin-top: 10px;
    font-size: 14px;
    line-height: $primary--lineheight;
}

// The first article

.art-head1:link,
.art-head1:visited {
    color: $fill-bespoke;
}

.art-head1:hover {
   text-decoration: underline;
}

.Read-more1:link,
.Read-more1:visited {
    margin: 10px;
    padding: 5px;
    background-color: $fill-bespoke;
    color: $white;
}

.Read-more1:hover {
    background-color: $news-art-alt1;
}

// The second article

.art-head2:link,
.art-head2:visited {
    color: $fill-telecoms;
}

.art-head2:hover {
   text-decoration: underline;
}

.Read-more2:link,
.Read-more2:visited {
    margin: 10px;
    padding: 5px;
    background-color: $fill-telecoms;
    color: $white;
}

.Read-more2:hover {
    background-color: $news-art-alt2;
}

// The third article 

.art-head3:link,
.art-head3:visited {
    color: $fill-supp;
}

.art-head3:hover {
   text-decoration: underline;
}

.Read-more3:link,
.Read-more3:visited {
    margin: 10px;
    padding: 5px;
    background-color: $fill-supp;
    color: $white;
}

.Read-more3:hover {
    background-color: $news-art-alt3;
}

@media screen and (min-width: $breakpoint-medium) {

    .latest--title {
        width: 720px;
    }

    .news-article,
    .news-article img {
        width: 345px;
    }
    
    .n--a3 {
        display: none;
    }
}

@media screen and (min-width: $breakpoint-large) {
    
    .latest--title {
        width: 940px;
    }

    .latest--container {
        width: 970px;
        margin: auto;
    }

    .news-article,
    .news-article img {
        width: 455px;
    }
}

@media screen and (min-width: $breakpoint-xl) {

    .latest--title {
        width: 1170px;
    }

    .latest--container {
        width: 1200px;
        height: 583px;
        margin: auto;
    }

    .n--a3 {
        display: block;
    }

    .news-article,
    .news-article img {
        width: 370px;
    }

    .news-article {
        height: 583px;
    }

}