@use '../absracts/index' as *;

// News sub rules
.Newsletter {
    background-color: $background-color-footer;
    width: 100%;
    height: auto;
    align-content: center;
}

.row--n {
    display: flex;
    flex-wrap: wrap;    
    font-size: $primary-fontsize;  
    padding: 30px;
    margin: auto;
}

.Newsletter h2 {
    font-size: 32px;
}

.Newsletter > * {
    margin: 10px 3px;
}

.NewsTitle {
    display: inline-flex;
    width: 100%;
    height: auto; 
}

// entry area
.entry label,
.entry input {
    display: block;
    width: 45%;
    height: auto;
}

label.required:after
{
    color: red;
    content: " *";
}

.entry {
    float: left;
}

.entry > * {
    display: flex;
    margin: 0 5px 0 0;
}

// Privacy policy rules
.Privacy:link,
.Privacy:visited {
    color: $color;
    text-decoration: underline;
}

.Privacy:hover {
    color: $color-hover;
}


//Subscribe button rules
.sub-button {
    color: $white;
    background-color: $color;
    padding: 10px;
    border: none;
    border-radius: 8%;
}

.sub-button:hover {
    background-color: $color-hover;
    color: $white;
}

// Search box rules
.row--n input {
    border: none;
}

.row--n input:focus {
box-shadow: $news-focus 0 0 8px 0;
border: none;
outline: none;
}

.entry input {
    min-width: 376px;
    height: 47px;
}

@media screen and (min-width:$breakpoint-xl) {
    
    .row--n {
        width: 1170px;
        height: auto;
        margin: auto;
    }

    .entry {
        width: 50%;
        padding: none;
        margin: none;
    }

    #name,
    #email {
        width: 540px;
        margin: none;
        padding: none;
    }
}