@use '../absracts' as i;

// News sub rules
.Newsletter {
    background-color: i.$background-color-footer;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

.Newsletter h2 {
    font-size: 32px;
}

.Newsletter > * {
    margin: 10px 3px;
}

.NewsTitle {
    display: inline-block;
}

// entry area
.entry label,
.entry input {
    display: block;
}

label.required:after
{
    color: red;
    content: " *";
}

.entry {
    float: left;
}

.entry > * {
    display: flex;
    margin: 0 5px 0 0;
}

// Privacy policy rules
.Privacy:link,
.Privacy:visited {
    color: i.$color;
    text-decoration: underline;
}

.Privacy:hover {
    color: i.$color-hover;
}


//Subscribe button rules
.sub-button {
    color: i.$white;
    background-color: i.$color;
    padding: 10px;
    border: none;
    border-radius: 8%;
}

.sub-button:hover {
    background-color: i.$color-hover;
    color: i.$white;
}

// Search box rules
.Newsletter input {
    border: none;
}

.Newsletter input:focus {
box-shadow: i.$search-focus 0 0 8px 0;
border: none;
outline: none;
}

.entry input {
    min-width: 376px;
    height: 47px;
}
