@use '../absracts' as i;

// The entire area rules
.slider-area {
    background-image: url(../Assets/asset-3.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 1020px;
    background-size: cover;
}

// the text area rules
.slid-text {
    display: block;
    grid-template-columns: 1;
    grid-template-rows: 3;
}

.slider-overlay {
    color:i.$white;
    text-align: left;
    display: block;
}

// Design button styling
.design-button:link, .design-button:visited {
    margin: 10px;
    padding: 5px;
    background-color: i.$fill-des-dev;
    color: i.$white;
    transition: 0.3s ease-out;
}

.design-button:hover {
    background-color: i.$fill-des-dev-dar;
}