@use '../absracts/index' as *;

// The entire area rules
.slider--area {
    background-image: url(../Assets/asset-3.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 883px;
    background-size: cover;
}

// the text area rules
.slider--text {
    display: flex;
    grid-template-columns: 1;
    grid-template-rows: 3;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 883px;
}

.slider--overlay {
    color:$white;
    text-align: center;
    display: block;
}

// Design button styling
.design-button:link, .design-button:visited {
    margin: 10px;
    padding: 5px;
    background-color: $fill-des-dev;
    color: $white;
    transition: 0.3s ease-out;
}

.design-button:hover {
    background-color: $fill-des-dev-dar;
}