$color-primary: #333645;
$white: #ffffff;

$background-color-primary: #333645;
$background-color-footer: #dddddd;

$primary-fontsize: 16px;
$secondary-fontsize: 13px;

$primary--lineheight: 22px;
$secondary-lineheight: 35px;

$search-bar: #555555;

$header-button: #22242E;
$background-color-button: #4183d7;

$fill-des-dev: #926fb1;
$fill-telecoms: #d64541;
$fill-cyber: #f62459;
$fill-market: #2ecc71;
$fill-supp: #4183d7;
$fill-bespoke: #67809f;
$fill-des-dev-dar: #7E57A0;
$color: #22242E;
$color-hover: #121419;

$card-border: #666666;

// the hover state colors for the news articles
$news-art-alt1: #576C88;
$news-art-alt2: #C42E2A;
$news-art-alt3: #2A6EC6;

//social media hover colours
$fb-blue: #3B5998;
$tw-blue: #00ACED;
$in-blue: #0077B5;
$sta-pink: #d93175;

//form focus
$news-focus: #5bbfde;

//breakpoints
$breakpoint-xs: 425px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xl: 1260px;

//header buttons
$support-button-hover:#2a6ec6;
$contact-button:#999aa2;
$contact-button-hover: #84858f;